Repository Spudymun/exchanger-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix, echo 'Skipping formatting for ai-agent-rules.yml (protected file)', echo 'Skipping formatting for tech_debt_rules.yaml (protected file)'

feat(notifications): add BullMQ queue for Telegram notifications + refactoring
  apps/admin-panel/next.config.mjs
  apps/bull-board-dashboard/.env.example
  apps/bull-board-dashboard/Dockerfile
  apps/bull-board-dashboard/README.md
  apps/bull-board-dashboard/package.json
  apps/bull-board-dashboard/server.js
  apps/bull-board-dashboard/tsconfig.json
  apps/docs/next.config.js
  apps/telegram-bot/.env.example
  apps/telegram-bot/instrumentation.ts
  apps/telegram-bot/next.config.js
  apps/telegram-bot/package.json
  apps/telegram-bot/pages/api/notify-operators.ts
  apps/telegram-bot/src/workers/index.ts
  apps/telegram-bot/src/workers/telegram-notification-worker.ts
  apps/telegram-bot/src/workers/worker-singleton.ts
  apps/web/next.config.js
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  docker-compose.yml
  docker/redis/redis.conf
  docs/TELEGRAM_WEBHOOK_SETUP.md
  docs/bullmq/BULLMQ_CONFIGURATION_GUIDE.md
  docs/bullmq/BULLMQ_TESTING_GUIDE.md
  docs/bullmq/BULL_BOARD_STANDALONE_MIGRATION.md
  package-lock.json
  package.json
  packages/constants/src/index.ts
  packages/constants/src/queue-config.ts
  packages/constants/src/telegram.ts
  packages/constants/src/time-constants.ts
  packages/exchange-core/src/services/order-cancellation-handler.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/order-notifications.ts
  packages/utils/src/telegram-queue/index.ts
  packages/utils/src/telegram-queue/telegram-queue-factory.ts
  packages/utils/src/telegram-queue/telegram-queue-producer.ts
  packages/utils/src/telegram-queue/types.ts
  turbo.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: add P2P rate provider, manual rates, notifications and telegram webhook proxy
  apps/telegram-bot/instrumentation.ts
  apps/telegram-bot/pages/api/notify-operators.ts
  apps/telegram-bot/pages/api/trigger-manual-rate-check.ts
  apps/telegram-bot/src/services/manual-rate-checker.ts
  apps/web/pages/api/telegram/webhook.ts
  apps/web/src/components/exchange/ExchangeContainer.tsx
  apps/web/src/components/exchange/ExchangeLayout.tsx
  apps/web/src/components/hero-exchange/SendingCard.tsx
  apps/web/src/components/hero-exchange/useHeroExchangeForm.ts
  apps/web/src/server/trpc/context.ts
  apps/web/src/server/trpc/routers/exchange.ts
  check-manual-rates.sql
  docs/PRODUCTION_WEBHOOK_ARCHITECTURE.md
  docs/TELEGRAM_WEBHOOK_SETUP.md
  docs/proposals/P2P_ARCHITECTURAL_ANALYSIS_REPORT.md
  docs/proposals/P2P_RATE_MIGRATION_PLAN.md
  docs/proposals/code-review-dead-code.md
  docs/proposals/code-review-serious-violations.md
  docs/troubleshooting/P2P_FALLBACK_IMPLEMENTATION_SUMMARY.md
  docs/troubleshooting/P2P_FALLBACK_QUICK_START.md
  docs/troubleshooting/P2P_FALLBACK_TESTING_GUIDE.md
  insert-usdt-manual-rate.sql
  packages/constants/src/api-endpoints.ts
  packages/constants/src/exchange-currencies.ts
  packages/constants/src/index.ts
  packages/constants/src/pricing-config.ts
  packages/constants/src/telegram.ts
  packages/exchange-core/src/services/binance-p2p-provider.ts
  packages/exchange-core/src/services/smart-pricing-service.ts
  packages/session-management/prisma/migrations/20251015120000_add_manual_exchange_rates/migration.sql
  packages/session-management/prisma/schema.prisma
  packages/ui/src/components/exchange/SendingInfo.tsx
  packages/utils/src/telegram-queue/telegram-queue-producer.ts
  scripts/insert-manual-usdt-rate.mjs
  scripts/telegram-bot/setup-webhook.mjs
  scripts/trigger-manual-rate-check.mjs
  turbo.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(auth): prevent login modal for authenticated users on protected pages
  apps/web/app/[locale]/order/[orderId]/OrderPageClient.tsx
  apps/web/pages/api/telegram/webhook.ts
  apps/web/src/components/orders/OrdersContainer.tsx
  apps/web/src/server/trpc/routers/exchange.ts
  docs/TELEGRAM_WEBHOOK_SETUP.md
  docs/core/AUTH_PROTECTED_PAGES_GUIDE.md
  docs/proposals/hand_off_guide_dev_ops_ready_next.md
  packages/providers/src/index.tsx
  packages/providers/src/use-auth-protected-page.tsx
  scripts/telegram-bot/setup-webhook.mjs
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: Добавлена отправка email с паролем при авторегистрации
  apps/web/src/server/trpc/routers/exchange.ts
  docs/tasks/AUTO_REGISTRATION_PASSWORD_EMAIL_IMPLEMENTATION_REPORT.md
  docs/tasks/AUTO_REGISTRATION_PASSWORD_EMAIL_PLAN.md
  packages/email-service/src/index.ts
  packages/email-service/src/services/email-service.ts
  packages/email-service/src/services/email-template-service.ts
  packages/email-service/src/templates/auto-registration-password.html
  packages/email-service/src/templates/auto-registration-password.txt
  packages/email-service/src/types/index.ts
  packages/email-service/src/utils/rate-limited-email-service.ts
  packages/exchange-core/src/server.ts
  packages/exchange-core/src/services/auto-registration-service.ts
  scripts/telegram-bot/setup-webhook.mjs
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: Исправлен конфликт модалки логина при авторегистрации
  apps/web/src/components/exchange/ExchangeContainer.tsx
  docs/tasks/AUTO_REGISTRATION_LOGIN_MODAL_CONFLICT_ANALYSIS.md
  docs/tasks/AUTO_REGISTRATION_LOGIN_MODAL_FIX.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: Исправлена формулировка в email с паролем
  packages/email-service/src/services/email-template-service.ts
  packages/email-service/src/templates/auto-registration-password.html
  packages/email-service/src/templates/auto-registration-password.txt
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(email): add recipient bank and card info to order creation email
  apps/web/src/server/trpc/routers/exchange.ts
  packages/email-service/src/services/email-template-service.ts
  packages/email-service/src/templates/crypto-address.html
  packages/email-service/src/templates/crypto-address.txt
  packages/email-service/src/types/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(telegram): show full formatted card number (clickable) in operator notifications
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  packages/constants/src/telegram.ts
  packages/utils/src/order-notifications.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(ui): add card number formatting with spaces every 4 digits
  packages/ui/src/components/exchange/CardNumberInput.tsx
  packages/utils/src/formatting.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(ui): remove number spinner buttons from captcha input
  packages/ui/src/components/ui/math-captcha.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: добавлена страница контактов с полной локализацией
  apps/web/app/[locale]/contacts/page.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/messages/en/contacts-page.json
  apps/web/messages/ru/contacts-page.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: add Rules and AML Policy legal pages
  apps/web/app/[locale]/aml-policy/page.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/rules/page.tsx
  apps/web/messages/en/aml-policy-page.json
  apps/web/messages/en/layout.json
  apps/web/messages/en/rules-page.json
  apps/web/messages/ru/aml-policy-page.json
  apps/web/messages/ru/layout.json
  apps/web/messages/ru/rules-page.json
  apps/web/src/components/app-header.tsx
  docs/aml.txt
  docs/правила.txt
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor: clean up footer and fix 'How it works' navigation
  apps/web/messages/en/layout.json
  apps/web/messages/ru/layout.json
  apps/web/src/components/HowItWorksSection.tsx
  apps/web/src/components/app-footer.tsx
  packages/constants/src/app-routes.ts
  packages/ui/src/components/footer-compound.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(mobile): implement mobile navigation drawer and fix responsive breakpoints
  apps/web/messages/en/layout.json
  apps/web/messages/ru/layout.json
  apps/web/src/components/app-header.tsx
  packages/ui/src/components/header-compound.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/sheet.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(ui): remove focus rings from dialog and sheet close buttons
  packages/ui/src/styles/globals.css
Due: prettier --write, stylelint --fix

fix(ui): make Amount card mobile-responsive
  packages/ui/src/components/order/helpers/OrderStatusHelpers.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: динамический заголовок модалки auth при переключении между входом и регистрацией
  apps/web/src/components/auth-dialogs.tsx
  apps/web/src/components/forms/AuthForms.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(security): implement security headers and cookie hardening
  apps/web/next.config.js
  apps/web/src/components/orders/OrdersContainer.tsx
  apps/web/src/server/utils/session-cookie.ts
  docs/proposals/SECURITY_HEADERS_IMPLEMENTATION.md
  packages/session-management/src/factories/user-manager-factory.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: Replace mock managers with production instances across all tRPC routers
  apps/telegram-bot/package.json
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/shared.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  apps/web/src/server/trpc/utils/manager-factories.ts
  packages/exchange-core/src/utils/access-validators.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(telegram-bot): prevent UI update on failed take order operation
  apps/telegram-bot/pages/api/webhook.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(orders): add localization for order statuses in OrdersContainer
  apps/web/src/components/orders/OrdersContainer.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: fix all Input/Output specifications in API_DOCS.md (49 procedures verified)
  SCRIPTS_AUDIT_REPORT.md
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/fiat.ts
  docs/core/API_DOCS.md
  docs/load-testing/QUICK_START.md
  docs/tasks/SUPPORT/CLIENT_SUPPORT_TELEGRAM_ARCHITECTURE_INTEGRITY.md
  docs/tasks/SUPPORT/CLIENT_SUPPORT_TELEGRAM_IMPACT_ANALYSIS_SENIOR.md
  docs/troubleshooting/TELEGRAM_NOTIFICATIONS_RETRY_FIX.md
  docs/troubleshooting/TELEGRAM_RETRY_QUICK_REF.md
  scripts/final-api-check.ps1
  scripts/monitor-system-load.ps1
  scripts/telegram-bot/README.md
  scripts/telegram-bot/test-scenarios.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor: remove obsolete load-test-orders.mjs script
  SCRIPTS_AUDIT_REPORT.md
  docs/bullmq/BULLMQ_TESTING_GUIDE.md
  docs/load-testing/ORDER_SYSTEM_LOAD_TESTING_GUIDE.md
  docs/load-testing/QUICK_START.md
  scripts/README.md
  scripts/load-test-orders.mjs
Due: prettier --write

test: fix smart-pricing-service tests to match new USDT fallback logic
  packages/exchange-core/src/services/__tests__/smart-pricing-service.test.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor: cleanup obsolete scripts and reorganize telegram bot tests
  SCRIPTS_AUDIT_REPORT.md
  check-db-state.sql
  check-manual-rates.sql
  docs/REDIS_CONNECTIONS_ARCHITECTURE.md
  docs/load-testing/QUICK_START.md
  insert-usdt-manual-rate.sql
  packages/session-management/scripts/create-telegram-operator.sql
  packages/session-management/scripts/get-telegram-operator-uuid.sql
  scripts/README.md
  scripts/health-check.ps1
  scripts/telegram-bot/test-telegram-bot.ps1
  scripts/telegram-bot/test-telegram-real.ps1
  scripts/test-connection-pool.mjs
  scripts/validate-cleanup.js
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(docker): comprehensive Docker infrastructure optimization
  .env.production.example
  apps/telegram-bot/Dockerfile
  apps/telegram-bot/Dockerfile.dev
  apps/telegram-bot/pages/api/webhook.ts
  apps/web/Dockerfile.dev
  apps/web/next.config.js
  apps/web/src/server/trpc/routers/telegram-bot.ts
  docker-compose.production.yml
  docker-compose.yml
  docker/postgres/init-prod.sql
  docker/postgres/init.sql
  docker/redis/redis-prod.conf
  docker/redis/redis.conf
  docs/docker/DEVOPS_DEPLOYMENT_GUIDE.md
  docs/docker/DOCKER_COMPOSE_GUIDE.md
  docs/docker/PHASE_5_COMPLETE.md
  docs/docker/README.md
  packages/constants/src/telegram.ts
  scripts/docker/README.md
  scripts/docker/dev-down.ps1
  scripts/docker/dev-down.sh
  scripts/docker/dev-up.ps1
  scripts/docker/dev-up.sh
  scripts/docker/entrypoint-web-dev.sh
  scripts/docker/entrypoint-web-prod.sh
  scripts/docker/health-check.ps1
  scripts/docker/prod-deploy.ps1
  scripts/docker/prod-deploy.sh
  scripts/docker/prod-manage.ps1
  scripts/docker/prod-manage.sh
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(business): добавлен финальный гайд и скрипты анализа конкурентов
  docs/ai-agent/ai-agent-rules.yml
  docs/business/COST_VERIFICATION_REPORT.md
  docs/business/DYNAMIC_PRICING_ANALYSIS.md
  docs/business/FOP_TAX_CALCULATIONS_CORRECTED.md
  docs/business/TAX_CORRECTION_SUMMARY.md
  docs/business/USDT_EXCHANGE_OPERATIONS_GUIDE.md
  docs/business/USDT_EXCHANGE_OPERATIONS_GUIDE_PART2.md
  docs/business/USDT_EXCHANGE_OPERATIONS_GUIDE_PART3.md
  docs/business/USDT_EXCHANGE_OPERATIONS_GUIDE_PART4.md
  packages/constants/src/pricing-config.ts
  scripts/analyze-dynamic-pricing.mjs
  scripts/check-competitor-rate.mjs
  scripts/check-elite-obmen-rates.mjs
  scripts/verify-fop-costs.mjs
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

fix: remove leaked .env.production and sanitize documentation
  .gitignore
  docs/TELEGRAM_WEBHOOK_SETUP.md
  docs/tasks/SUPPORT/CLIENT_SUPPORT_TELEGRAM_ARCHITECTURE_INTEGRITY.md
  docs/tasks/SUPPORT/CLIENT_SUPPORT_TELEGRAM_IMPACT_ANALYSIS_SENIOR.md
  docs/tasks/SUPPORT/HOW_TO_GET_TELEGRAM_GROUP_CHAT_ID.md
  docs/tasks/SUPPORT/IMPLEMENTATION_SUMMARY.md
  docs/tasks/SUPPORT/TELEGRAM_TOPICS_SETUP.md
  docs/tasks/SUPPORT/TESTING_GUIDE.md
  docs/troubleshooting/TELEGRAM_NOTIFICATIONS_RETRY_FIX.md
  docs/troubleshooting/TELEGRAM_RETRY_QUICK_REF.md
Due: prettier --write

fix: sanitize remaining sensitive data in documentation
  docs/research/TELEGRAM_FALSE_SUCCESS_INVESTIGATION_REPORT.md
  docs/tasks/SUPPORT/CLIENT_SUPPORT_TELEGRAM_ARCHITECTURE_INTEGRITY.md
  docs/tasks/SUPPORT/CLIENT_SUPPORT_TELEGRAM_IMPACT_ANALYSIS_SENIOR.md
Due: prettier --write

fix: sanitize test scripts - replace real IDs with placeholders
  scripts/telegram-bot/test-telegram-bot.ps1
  scripts/telegram-bot/test-telegram-real.ps1
Due: none

chore: save work before history cleanup
  packages/constants/src/pricing-config.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

chore: убрать инструменты разработки из git отслеживания
  .gitignore
  SCRIPTS_AUDIT_REPORT.md
  packages/style-scanner/.eslintrc.json
  packages/style-scanner/CHANGELOG.md
  packages/style-scanner/CODE_REVIEW_REPORT.md
  packages/style-scanner/README.md
  packages/style-scanner/bin/style-scanner-debug.js
  packages/style-scanner/bin/style-scanner.js
  packages/style-scanner/debug-imports.js
  packages/style-scanner/package.json
  packages/style-scanner/src/config/default-patterns.ts
  packages/style-scanner/src/config/performance.ts
  packages/style-scanner/src/constants/index.ts
  packages/style-scanner/src/core/component-tree-simple.ts
  packages/style-scanner/src/core/main-scanner.ts
  packages/style-scanner/src/index.ts
  packages/style-scanner/src/scanners/base-scanner.ts
  packages/style-scanner/src/scanners/index.ts
  packages/style-scanner/src/scanners/layout-scanner.ts
  packages/style-scanner/src/scanners/main-scanner.ts
  packages/style-scanner/src/scanners/page-scanner.ts
  packages/style-scanner/src/scanners/tailwind-config-scanner.ts
  packages/style-scanner/src/scanners/ui-scanner.ts
  packages/style-scanner/src/services/component-analysis.service.ts
  packages/style-scanner/src/services/content-generation.service.ts
  packages/style-scanner/src/services/file-management.service.ts
  packages/style-scanner/src/services/index.ts
  packages/style-scanner/src/services/markdown-formatting.service.ts
  packages/style-scanner/src/services/markdown-generator.ts
  packages/style-scanner/src/types/scanner.ts
  packages/style-scanner/src/utils/component-analyzers.ts
  packages/style-scanner/src/utils/component-parser-simple.ts
  packages/style-scanner/src/utils/file-utils.ts
  packages/style-scanner/src/utils/logger.ts
  packages/style-scanner/src/utils/markdown-utils.ts
  packages/style-scanner/src/utils/style-extractor.ts
  packages/style-scanner/tsconfig.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: исправить .gitignore для правильного игнорирования
  .gitignore
Due: none

chore: удалить файлы редактора Kiro из git отслеживания
  .kiro/specs/fix-header-content-display/design.md
  .kiro/specs/fix-header-content-display/requirements.md
  .kiro/specs/fix-header-content-display/tasks.md
  .kiro/specs/fix-utils-module-resolution/design.md
  .kiro/specs/fix-utils-module-resolution/requirements.md
  .kiro/specs/fix-utils-module-resolution/tasks.md
  .kiro/specs/tailwind-config-scanner/design.md
  .kiro/specs/tailwind-config-scanner/requirements.md
  .kiro/specs/tailwind-config-scanner/tasks.md
  .kiro/steering/language.md
  .kiro/steering/product.md
  .kiro/steering/rules.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: prettier --write

chore: удалить все упоминания style-scanner из конфигураций
  docs/core/PROJECT_STRUCTURE_MAP.md
  eslint.config.mjs
  package.json
  turbo.json
Due: prettier --write

docs: improve README with honest project assessment
  README.md
Due: prettier --write

fix: resolve TypeScript compilation errors in session-management package
  package-lock.json
  packages/session-management/src/adapters/postgres-order-adapter.ts
  packages/session-management/src/adapters/postgres-wallet-adapter.ts
  packages/session-management/src/monitoring/connection-monitor.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: resolve Docker container startup issue and update README
  .gitattributes
  README.md
Due: prettier --write

Path conditions:
  eslint --fix --max-warnings 0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,scss}
  echo 'Skipping formatting for ai-agent-rules.yml (protected file)': any of: docs/ai-agent/ai-agent-rules.yml
  echo 'Skipping formatting for tech_debt_rules.yaml (protected file)': any of: docs/ai-agent/tech_debt_rules.yaml
