Repository Spudymun/exchanger-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0 --no-warn-ignored", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{yml,yaml}": "prettier --write",
  "docs/ai-agent-rules.yml": "echo 'Skipping formatting for ai-agent-rules.yml (protected file)'"
}

feat(style-scanner): добавлена поддержка сканирования layout компонентов
  .lintstagedrc.json
  .prettierignore
  docs/ai-agent/ai-agent-rules.yml
  docs/ai-agent/copilot_prompt_template.md
  packages/style-scanner/src/utils/markdown-generator.ts
  style-docs/admin-panel/home-page/actionbuttons.md
  style-docs/admin-panel/home-page/adminavatar.md
  style-docs/admin-panel/home-page/admindashboard.md
  style-docs/admin-panel/home-page/adminheader.md
  style-docs/admin-panel/home-page/adminheaderactions.md
  style-docs/admin-panel/home-page/adminheadertitle.md
  style-docs/admin-panel/home-page/navigationtree.md
  style-docs/admin-panel/home-page/overview.md
  style-docs/admin-panel/home-page/statscard.md
  style-docs/admin-panel/home-page/statsgrid.md
  style-docs/admin-panel/home-page/userstablenew.md
  style-docs/admin-panel/layouts/layout-overview.md
  style-docs/admin-panel/layouts/rootlayout.md
  style-docs/docs/home-page/footersection.md
  style-docs/docs/home-page/home.md
  style-docs/docs/home-page/instructionslist.md
  style-docs/docs/home-page/logosection.md
  style-docs/docs/home-page/overview.md
  style-docs/docs/home-page/themeimage.md
  style-docs/docs/layouts/layout-overview.md
  style-docs/docs/layouts/rootlayout.md
  style-docs/summary.md
  style-docs/web/exchange-page/exchangeform.md
  style-docs/web/exchange-page/overview.md
  style-docs/web/home-page/ctasection.md
  style-docs/web/home-page/featuressection.md
  style-docs/web/home-page/herosection.md
  style-docs/web/home-page/overview.md
  style-docs/web/home-page/ratessection.md
  style-docs/web/layouts/app-footer-overview.md
  style-docs/web/layouts/app-header-overview.md
  style-docs/web/layouts/app-layout-overview.md
  style-docs/web/layouts/applayout.md
  style-docs/web/layouts/layout-overview.md
  style-docs/web/layouts/rootlayout.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(style-scanner): ETAP 1.1-1.2 критические архитектурные улучшения
  packages/style-scanner/CODE_REVIEW_REPORT.md
  packages/style-scanner/src/config/default-patterns.ts
  packages/style-scanner/src/config/performance.ts
  packages/style-scanner/src/constants/index.ts
  packages/style-scanner/src/core/component-tree-simple.ts
  packages/style-scanner/src/index.ts
  packages/style-scanner/src/types/scanner.ts
  packages/style-scanner/src/utils/markdown-generator.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(style-scanner): ETAP 1.1-1.3 critical fixes completed
  packages/style-scanner/CODE_REVIEW_REPORT.md
  packages/style-scanner/src/core/main-scanner.ts
  packages/style-scanner/src/index.ts
  packages/style-scanner/src/scanners/base-scanner.ts
  packages/style-scanner/src/scanners/index.ts
  packages/style-scanner/src/scanners/layout-scanner.ts
  packages/style-scanner/src/scanners/main-scanner.ts
  packages/style-scanner/src/scanners/page-scanner.ts
  packages/style-scanner/src/scanners/ui-scanner.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(style-scanner): ETAP 1.4 completed - split markdown-generator.ts into clean services
  packages/style-scanner/src/services/component-analysis.service.ts
  packages/style-scanner/src/services/content-generation.service.ts
  packages/style-scanner/src/services/file-management.service.ts
  packages/style-scanner/src/services/index.ts
  packages/style-scanner/src/services/markdown-formatting.service.ts
  packages/style-scanner/src/services/markdown-generator.ts
  packages/style-scanner/src/utils/markdown-generator.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(style-scanner): implement logging system and remove DEBUG logs
  packages/style-scanner/CODE_REVIEW_REPORT.md
  packages/style-scanner/src/core/component-tree-simple.ts
  packages/style-scanner/src/scanners/base-scanner.ts
  packages/style-scanner/src/scanners/layout-scanner.ts
  packages/style-scanner/src/scanners/main-scanner.ts
  packages/style-scanner/src/scanners/page-scanner.ts
  packages/style-scanner/src/scanners/ui-scanner.ts
  packages/style-scanner/src/services/component-analysis.service.ts
  packages/style-scanner/src/services/file-management.service.ts
  packages/style-scanner/src/services/markdown-generator.ts
  packages/style-scanner/src/utils/logger.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

chore: remove style-docs from tracking
  style-docs/admin-panel/home-page/actionbuttons.md
  style-docs/admin-panel/home-page/adminavatar.md
  style-docs/admin-panel/home-page/admindashboard.md
  style-docs/admin-panel/home-page/adminheader.md
  style-docs/admin-panel/home-page/adminheaderactions.md
  style-docs/admin-panel/home-page/adminheadertitle.md
  style-docs/admin-panel/home-page/navigationtree.md
  style-docs/admin-panel/home-page/overview.md
  style-docs/admin-panel/home-page/statscard.md
  style-docs/admin-panel/home-page/statsgrid.md
  style-docs/admin-panel/home-page/userstablenew.md
  style-docs/admin-panel/layouts/layout-overview.md
  style-docs/admin-panel/layouts/rootlayout.md
  style-docs/docs/home-page/ctasection.md
  style-docs/docs/home-page/footersection.md
  style-docs/docs/home-page/home.md
  style-docs/docs/home-page/instructionslist.md
  style-docs/docs/home-page/logosection.md
  style-docs/docs/home-page/overview.md
  style-docs/docs/home-page/themeimage.md
  style-docs/docs/layouts/layout-overview.md
  style-docs/docs/layouts/rootlayout.md
  style-docs/summary.md
  style-docs/web/exchange-page/exchangeform.md
  style-docs/web/exchange-page/overview.md
  style-docs/web/home-page/ctasection.md
  style-docs/web/home-page/featuressection.md
  style-docs/web/home-page/herosection.md
  style-docs/web/home-page/overview.md
  style-docs/web/home-page/ratessection.md
  style-docs/web/layouts/app-footer-overview.md
  style-docs/web/layouts/app-header-overview.md
  style-docs/web/layouts/app-layout-overview.md
  style-docs/web/layouts/applayout.md
  style-docs/web/layouts/layout-overview.md
  style-docs/web/layouts/rootlayout.md
Due: prettier --write

fix: устранены предупреждения линтера, рефакторинг компонентов и функций
  .kiro/specs/fix-header-content-display/design.md
  .kiro/specs/fix-header-content-display/requirements.md
  .kiro/specs/fix-header-content-display/tasks.md
  .kiro/specs/fix-utils-module-resolution/design.md
  .kiro/specs/fix-utils-module-resolution/requirements.md
  .kiro/specs/fix-utils-module-resolution/tasks.md
  .kiro/steering/language.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  apps/web/app/[locale]/layout.tsx
  apps/web/src/components/app-header.tsx
  apps/web/tailwind.config.js
  package-lock.json
  packages/design-tokens/components.tsx
  packages/ui/src/components/header-compound.tsx
  packages/ui/src/lib/header-helpers.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: improve style scanner
  .kiro/specs/tailwind-config-scanner/design.md
  .kiro/specs/tailwind-config-scanner/requirements.md
  .kiro/specs/tailwind-config-scanner/tasks.md
  .kiro/steering/rules.md
  packages/style-scanner/README.md
  packages/style-scanner/bin/style-scanner.js
  packages/style-scanner/src/scanners/index.ts
  packages/style-scanner/src/scanners/main-scanner.ts
  packages/style-scanner/src/scanners/tailwind-config-scanner.ts
  packages/style-scanner/src/services/content-generation.service.ts
  packages/style-scanner/src/types/scanner.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: resolve Tailwind Configuration parse errors and optimize glob patterns
  apps/admin-panel/tailwind.config.cjs
  apps/docs/tailwind.config.cjs
  apps/web/tailwind.config.cjs
  package-lock.json
  packages/tailwind-preset/package.json
  packages/ui/tailwind.config.cjs
  tailwind.config.cjs
Due: prettier --write

feat: replace rates section with how it works section
  apps/web/app/[locale]/page.tsx
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/HowItWorksSection.tsx
  apps/web/src/components/RatesSection.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(style-scanner): add support for package imports in markdown generation
  packages/style-scanner/src/core/component-tree-simple.ts
  packages/style-scanner/src/scanners/page-scanner.ts
  packages/style-scanner/src/services/content-generation.service.ts
  packages/style-scanner/src/utils/component-parser-simple.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: remove CTA section from homepage
  apps/web/app/[locale]/page.tsx
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/CTASection.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: переработка футера под обменник криптовалют
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/app-footer.tsx
  packages/constants/src/contacts.ts
  packages/constants/src/index.ts
  packages/ui/src/components/footer-compound.tsx
  packages/ui/src/components/footer.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: исправлена проблема с сохранением темы при обновлении страницы
  apps/web/app/[locale]/layout.tsx
  apps/web/src/components/app-header.tsx
  apps/web/src/components/theme-toggle-i18n.tsx
  packages/hooks/src/index.ts
  packages/hooks/src/state/ui-store.ts
  packages/hooks/src/useTheme.ts
  packages/providers/src/index.tsx
  packages/providers/src/theme-provider.tsx
  packages/providers/src/theme-script.tsx
  packages/ui/package.json
  packages/ui/src/components/theme-toggle.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: исправлены ESM модули в providers пакете
  packages/providers/package.json
  packages/providers/src/index.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: восстановлена правильная архитектура TS-Direct пакетов
  packages/hooks/package.json
  packages/hooks/src/business/useAuth.ts
  packages/hooks/src/business/useExchange.ts
  packages/hooks/src/business/useForm.example.ts
  packages/hooks/src/business/useForm.ts
  packages/hooks/src/business/useOrderTracking.ts
  packages/hooks/src/index.ts
  packages/hooks/src/state/exchange-constants.ts
  packages/hooks/src/state/exchange-fiat-actions.ts
  packages/hooks/src/state/exchange-helpers.ts
  packages/hooks/src/state/exchange-selectors.ts
  packages/hooks/src/state/exchange-store.ts
  packages/hooks/src/state/index.ts
  packages/hooks/src/useExchangeStore.ts
  packages/hooks/src/useNotifications.ts
  packages/hooks/src/useTheme.ts
  packages/hooks/src/useUIStore.ts
  packages/providers/package.json
  packages/providers/src/index.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: полное решение проблемы с темой и SSR + документация
  apps/web/lib/stores.ts
  apps/web/src/components/exchange-form/ReceivingCard.tsx
  apps/web/src/components/exchange-form/SendingCard.tsx
  apps/web/src/components/exchange-form/useHeroExchangeForm.ts
  apps/web/src/components/forms/ExchangeForm.tsx
  apps/web/src/components/forms/LoginForm.tsx
  apps/web/src/components/forms/RegisterForm.tsx
  docs/ARCHITECTURE.md
  docs/BUNDLE_SIZE_PROFESSIONAL_ASSESSMENT.md
  docs/DEVELOPER_GUIDE.md
  docs/EXPLANATION.md
  docs/HERO_SECTION_QUICK_REFERENCE.md
  docs/HERO_SECTION_STYLING_GUIDE.md
  docs/LEVEL_6_AUDIT_REPORT.md
  docs/PROJECT_CONTEXT_MAP.yml
  docs/STYLE_SCANNER_ENHANCEMENT_TASK.md
  docs/tasks/TASKS-PART-1-CHECKLIST.md
  docs/tasks/TASKS-PART-1.md
  docs/tasks/TASKS-PART-2-CHECKLIST.md
  docs/tasks/TASKS-PART-2.md
  docs/tasks/TASKS-PART-3-CHECKLIST.md
  docs/tasks/TASKS-PART-3.md
  docs/tasks/TASKS-PART-4-CHECKLIST.md
  docs/tasks/TASKS-PART-4.md
  docs/tasks/TASKS-PART-5-CHECKLISTS.md
  docs/tasks/TASKS-PART-5.1.md
  docs/tasks/TASKS-PART-5.2.md
  docs/tasks/TASKS-PART-5.3.md
  docs/tasks/TASKS-PART-5.4.md
  docs/troubleshooting/MODULE_RESOLUTION_TROUBLESHOOTING.md
  packages/hooks/package.json
  packages/hooks/src/client-hooks.ts
  packages/hooks/src/index.ts
  packages/providers/src/theme-provider.tsx
  packages/utils/src/store-factory.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: исправлена архитектура 404 страниц и локализация
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/loading.tsx
  apps/web/app/[locale]/not-found-page/page.tsx
  apps/web/app/error.tsx
  apps/web/app/layout.tsx
  apps/web/app/loading.tsx
  apps/web/app/not-found.tsx
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/middleware.ts
  docs/DEVELOPER_GUIDE.md
  docs/troubleshooting/I18N_TROUBLESHOOTING.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: Исправлена анимация FloatingExchangeButton и добавлено Rule 22
  .husky/pre-commit
  apps/web/app/[locale]/page.tsx
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/FloatingExchangeButton.tsx
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/HeroSection.tsx
  apps/web/tailwind.config.cjs
  docs/ai-agent/ai-agent-rules.yml
  packages/constants/src/ui.ts
  packages/hooks/src/index.ts
  packages/hooks/src/ui/index.ts
  packages/hooks/src/ui/useScrollVisibility.ts
  packages/tailwind-preset/globals.css
  packages/tailwind-preset/preset.js
  packages/ui/src/components/floating-action-button.tsx
  packages/ui/src/components/index.ts
  packages/utils/src/index.ts
  packages/utils/src/scroll-utils.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix

fix: Исправлена анимация FloatingExchangeButton и добавлено Rule 22
  .husky/pre-commit
  .lintstagedrc.json
  docs/ai-agent/ai-agent-rules.yml
Due: prettier --write

fix: Исправлена конфигурация pre-commit хуков
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

refactor: разбить FloatingExchangeButton на более мелкие функции для соблюдения ESLint правил
  apps/web/src/components/FloatingExchangeButton.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: улучшить конфигурацию Stylelint
  .stylelintrc.json
  apps/docs/app/page.module.css
  packages/tailwind-preset/globals.css
  packages/ui/src/styles/adaptive-container.css
  temp-config-test.json
Due: prettier --write, stylelint --fix

chore: удалить временный файл конфигурации Stylelint
  temp-config-test.json
Due: prettier --write

feat: implement dynamic validation localization with Zod error maps
  .gitignore
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/app-header.tsx
  apps/web/src/components/auth-dialogs.tsx
  apps/web/src/components/forms/AuthForms.tsx
  apps/web/src/components/forms/LoginForm.tsx
  apps/web/src/components/forms/RegisterForm.tsx
  apps/web/src/components/forms/index.ts
  docs/ai-agent/ai-agent-rules.yml
  packages/hooks/src/business/useForm.ts
  packages/hooks/src/business/useFormTypes.ts
  packages/ui/src/components/header-compound.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/lib/header-helpers.tsx
  packages/utils/src/index.ts
  packages/utils/src/validation-messages.ts
  packages/utils/src/validation-schemas.ts
  packages/utils/src/zod-error-map.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: resolve WCAG violations and UX redundancy in header authentication
  apps/web/src/components/app-header.tsx
  packages/ui/src/components/header-compound.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: устранение дублирования сообщений об ошибках CAPTCHA
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/AuthProvider.tsx
  apps/web/src/components/forms/LoginForm.tsx
  apps/web/src/components/forms/RegisterForm.tsx
  apps/web/src/server/trpc/routers/auth.ts
  docs/ai-agent/ai-agent-rules.yml
  packages/hooks/src/business/useMathCaptcha.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/math-captcha.tsx
  packages/utils/src/validation-schemas.ts
  packages/utils/src/zod-error-map.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor: разбиение MathCaptcha на меньшие компоненты
  packages/ui/src/components/ui/math-captcha.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor: исправление ESLint предупреждений и модульная архитектура валидации
  apps/web/src/hooks/useExchangeStoreWithTranslations.ts
  apps/web/src/hooks/useNotificationsWithTranslations.ts
  apps/web/src/server/utils/i18n-errors.ts
  packages/utils/src/index.ts
  packages/utils/src/next-intl-validation.ts
  packages/utils/src/trpc-errors.ts
  packages/utils/src/validation/constants.ts
  packages/utils/src/validation/core.ts
  packages/utils/src/validation/field-validation.ts
  packages/utils/src/validation/handlers.ts
  packages/utils/src/validation/hooks.ts
  packages/utils/src/validation/index.ts
  packages/utils/src/validation/single-field.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(hooks): satisfy max-lines by minor formatting; keep behavior intact
  apps/web/src/hooks/useExchangeStoreWithTranslations.ts
  packages/hooks/src/business/useFormWithNextIntl.ts
  packages/ui/src/components/header-compound.tsx
  packages/ui/src/lib/header-helpers.tsx
  packages/ui/src/lib/header-types.ts
  packages/utils/src/validation-schemas.ts
  packages/utils/src/validation/handlers.ts
  packages/utils/src/validation/hooks.ts
  packages/utils/src/validation/index.ts
  packages/utils/src/validation/schema-helpers.ts
  packages/utils/src/validation/schemas-basic.ts
  packages/utils/src/validation/schemas-composed.ts
  packages/utils/src/validation/schemas-crypto.ts
  packages/utils/src/validation/schemas-utils.ts
  packages/utils/src/validation/schemas/basic.ts
  packages/utils/src/validation/single-field.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(ui): localize DataTable search placeholder and filter labels
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/operator.ts
  apps/web/src/server/trpc/routers/support.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  apps/web/src/server/trpc/routers/user/security.ts
  docs/PROJECT_CODEBASE_CATALOG.md
  packages/exchange-core/src/data/manager.ts
  packages/providers/src/theme-provider.tsx
  packages/ui/src/components/data-table/DataTableFilters.tsx
  packages/utils/src/order-status.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(i18n): add missing confirmPassword translations for AuthConfirmPasswordField
  apps/web/messages/en.json
  apps/web/messages/ru.json
Due: prettier --write

refactor: устранено дублирование Tailwind конфигурации и обновлена документация
  README.md
  packages/style-scanner/README.md
  packages/style-scanner/src/scanners/tailwind-config-scanner.ts
  packages/style-scanner/src/services/content-generation.service.ts
  packages/style-scanner/src/types/scanner.ts
  tailwind.config.cjs
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: добавлена подробная документация для @repo/design-tokens
  README.md
  packages/design-tokens/README.md
Due: prettier --write

docs: обновлен README для @repo/constants с актуальной информацией
  packages/constants/README.md
Due: prettier --write

refactor: centralize layout constants and fix locale hardcoding
  .vscode/settings.json
  apps/admin-panel/app/layout.tsx
  apps/docs/app/layout.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/layout.tsx
  apps/web/app/not-found.tsx
  apps/web/middleware.ts
  apps/web/src/i18n/routing.ts
  apps/web/src/server/trpc/context.ts
  apps/web/src/server/utils/i18n-errors.ts
  packages/constants/src/index.ts
  packages/constants/src/seo.ts
  packages/design-tokens/components.js
  packages/design-tokens/components.tsx
  packages/design-tokens/index.d.ts
  packages/design-tokens/index.js
  packages/design-tokens/package.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write
