Repository Spudymun/exchanger-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, cd packages/constants && npm run build

fix: remove invalid test argument from pre-commit hook
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  docs/CONSTANTS_EXAMPLES.ts
  eslint.config.mjs
  package-lock.json
  package.json
  packages/constants/package.json
  packages/ui/turbo/generators/config.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: добавлены правила для ai агента и анализ потенциальных проблем
  docs/AI_AGENT_PROBLEMS.md
  docs/ai-agent-rules.yml
Due: prettier --write

docs: refactor tasks-part-8 into logical subparts
  docs/tasks/TASKS-PART-1.md
  docs/tasks/TASKS-PART-2.md
  docs/tasks/TASKS-PART-3.md
  docs/tasks/TASKS-PART-4.md
  docs/tasks/TASKS-PART-5.1.md
  docs/tasks/TASKS-PART-5.2.md
  docs/tasks/TASKS-PART-5.3.md
  docs/tasks/TASKS-PART-5.4.md
  docs/tasks/TASKS-PART-6.md
  docs/tasks/TASKS-PART-7.md
  docs/tasks/TASKS-PART-8.1-DOCKER.md
  docs/tasks/TASKS-PART-8.2-CICD.md
  docs/tasks/TASKS-PART-8.3-MONITORING.md
  docs/tasks/TASKS-PART-8.4-LAUNCH.md
  docs/tasks/TASKS-PART-8.md
Due: prettier --write

feat(design-system): create modern crypto-focused design tokens system
  docs/RPD.md
  docs/ai-agent-rules.yml
  packages/design-tokens/colors.js
  packages/design-tokens/index.js
  packages/design-tokens/spacing.js
  packages/design-tokens/typography.js
  project-files.txt
  tailwind.config.js
Due: eslint --fix --max-warnings 0, prettier --write

feat(constants): add exchangego specific constants and validation rules
  packages/constants/src/exchange.ts
  packages/constants/src/index.ts
  packages/constants/src/rate-limits.ts
  packages/constants/src/validation.ts
Due: eslint --fix --max-warnings 0, prettier --write, cd packages/constants && npm run build

fix(lint-staged): update config for windows powershell compatibility
  .lintstagedrc.json
Due: prettier --write

refactor: improve rule_12 - focus on non-standard actions explanation
  .gitignore
  docs/ai-agent-rules.yml
Due: none

feat(scripts): add project structure analyzer script
  .gitignore
  project-files.txt
  scripts/analyze-project-structure.ps1
Due: none

test: simplified checklist workflow implementation
  README.md
  test.txt
Due: prettier --write

test: checking cancellation workflow
  test.txt
Due: none

test: workflow verification
  README.md
  test.txt
Due: prettier --write

test: final workflow verification
  README.md
Due: prettier --write

docs: test simple checklist reminder
  README.md
Due: prettier --write

docs: test bright checklist reminder
  README.md
Due: prettier --write

docs: final checklist reminder test
  README.md
Due: prettier --write

feat: implement task checklist reminder workflow
  .husky/pre-commit
  docs/EXPLANATION.md
  docs/tasks/TASKS-PART-1-CHECKLIST.md
  scripts/checklist-reminder.mjs
Due: prettier --write

feat: complete task 1.1 - create exchange-core package with core types
  docs/ai-agent-rules.yml
  docs/tasks/TASKS-PART-1-CHECKLIST.md
  packages/constants/src/exchange.ts
  packages/constants/src/validation.ts
  packages/constants/tsconfig.json
  packages/exchange-core/README.md
  packages/exchange-core/package.json
  packages/exchange-core/src/index.ts
  packages/exchange-core/src/types/currency.ts
  packages/exchange-core/src/types/index.ts
  packages/exchange-core/src/types/order.ts
  packages/exchange-core/src/types/user.ts
  packages/exchange-core/tsconfig.json
Due: eslint --fix --max-warnings 0, prettier --write, cd packages/constants && npm run build

docs: enhance ai agent rules and task implementation guide
  docs/TASK_IMPLEMENTATION_GUIDE.md
  docs/ai-agent-rules.yml
Due: prettier --write

feat(core): implement exchange-core utils with tech debt prevention
  .husky/pre-commit
  docs/PRE_COMMIT_GUIDE.md
  docs/ai-agent-rules.yml
  jest.config.js
  package.json
  packages/constants/src/exchange.ts
  packages/exchange-core/package.json
  packages/exchange-core/src/index.ts
  packages/exchange-core/src/utils/calculations.ts
  packages/exchange-core/src/utils/crypto.ts
  packages/exchange-core/src/utils/validation.ts
  scripts/check-tech-debt.mjs
  scripts/tech-debt-reminder.mjs
Due: eslint --fix --max-warnings 0, prettier --write, cd packages/constants && npm run build

feat: улучшен скрипт проверки техдолга, устранены ложные срабатывания
  .husky/pre-commit
  scripts/tech-debt-reminder.mjs
Due: none

feat: переработан скрипт проверки техдолга - фокус на архитектурные проблемы
  scripts/tech-debt-reminder.mjs
Due: none

fix: исправлены неиспользуемые функции в скрипте проверки техдолга
  scripts/tech-debt-reminder.mjs
Due: none

feat: обновлен статус task 1.4 до готово к реализации в чек-листе
  docs/tasks/TASKS-PART-1-CHECKLIST.md
Due: prettier --write

feat(data): complete task 1.4 - implement data managers and mock data
  docs/tasks/TASKS-PART-1-CHECKLIST.md
  packages/exchange-core/src/data/index.ts
  packages/exchange-core/src/data/manager.ts
  packages/exchange-core/src/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(docs): improve ai-agent-rules for better compliance
  docs/ai-agent-rules.yml
Due: none

refactor: break down complex functions into smaller components
  apps/admin-panel/app/page.tsx
  apps/web/app/(dashboard)/page.tsx
  packages/ui/src/components/data-table.tsx
  packages/ui/src/components/tree-view.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: fix linting warnings with centralized constants
  apps/web/lib/trpc-provider.tsx
  apps/web/lib/trpc.ts
  docs/DEVELOPER_GUIDE.md
  packages/api-client/package.json
  packages/api-client/src/client.ts
  packages/api-client/src/server.ts
  packages/constants/src/ui.ts
  packages/hooks/package.json
  packages/hooks/src/state/ui-store.ts
  packages/providers/package.json
  packages/providers/src/index.tsx
Due: eslint --fix --max-warnings 0, prettier --write, cd packages/constants && npm run build

fix: resolve security/detect-object-injection warning in api-client server
  packages/api-client/src/server.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: resolve linter errors to achieve consistent strict linting
  apps/admin-panel/app/layout.tsx
  apps/admin-panel/package.json
  apps/docs/app/page.tsx
  apps/docs/package.json
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/providers.tsx
  apps/web/app/api/trpc/[trpc]/route.ts
  apps/web/package.json
  packages/api-client/package.json
  packages/constants/src/ui.ts
  packages/design-tokens/index.d.ts
  packages/design-tokens/package.json
  packages/design-tokens/typography.js
  packages/hooks/package.json
  packages/providers/package.json
  packages/ui/package.json
  packages/ui/src/__tests__/DataTable.test.tsx
  packages/ui/src/button.tsx
  packages/ui/src/components/theme-toggle.tsx
  packages/ui/src/components/ui/dropdown-menu.tsx
  packages/ui/src/stories/DataTable.stories.tsx
  packages/utils/package.json
  packages/utils/src/env.ts
Due: eslint --fix --max-warnings 0, prettier --write, cd packages/constants && npm run build

feat: implement tRPC API structure with security fixes
  .commitlintrc.json
  apps/admin-panel/next.config.mjs
  apps/docs/next.config.js
  apps/web/app/api/trpc/[trpc]/route.ts
  apps/web/lib/trpc-provider.tsx
  apps/web/lib/trpc.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/api/trpc/[trpc].ts
  apps/web/server/old-trpc.ts
  apps/web/server/trpc.ts
  apps/web/src/server/trpc/context.ts
  apps/web/src/server/trpc/index.ts
  apps/web/src/server/trpc/init.ts
  apps/web/src/server/trpc/middleware/auth.ts
  apps/web/src/server/trpc/middleware/rateLimit.ts
  apps/web/src/server/trpc/routers/admin.ts
  apps/web/src/server/trpc/routers/auth.ts
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/index.ts
  apps/web/src/server/trpc/routers/user.ts
  docs/DEVELOPER_GUIDE.md
  docs/tasks/TASKS-PART-1-CHECKLIST.md
  docs/tasks/TASKS-PART-2-CHECKLIST.md
  docs/tasks/TASKS-PART-2.md
  eslint.config.mjs
  package-lock.json
  packages/exchange-core/package.json
Due: eslint --fix --max-warnings 0, prettier --write

docs: fix commit message examples in task implementation guide
  docs/TASK_IMPLEMENTATION_GUIDE.md
Due: prettier --write

feat: implement Exchange API router with 7 endpoints
  apps/web/src/server/trpc/routers/exchange.ts
  docs/CLAUDE.md
  docs/ai-agent-rules.yml
  docs/codeviz-diagram-2025-07-03T11-57-13.drawio
Due: eslint --fix --max-warnings 0, prettier --write

fix: configure ESLint to allow console logs in infrastructure files
  apps/web/eslint.config.js
  eslint.config.mjs
  packages/ui/eslint.config.mjs
  packages/ui/src/button.tsx
Due: eslint --fix --max-warnings 0, prettier --write

docs: update TASKS-PART-2 checklist and add ESLint console.log guidelines
  docs/DEVELOPER_GUIDE.md
  docs/tasks/TASKS-PART-2-CHECKLIST.md
Due: prettier --write

feat: replace tech-debt-reminder.mjs with enhanced ESLint rules
  .husky/pre-commit
  docs/CLAUDE.md
  docs/PRE_COMMIT_GUIDE.md
  package.json
  packages/eslint-config/base.js
  scripts/check-tech-debt.mjs
  scripts/tech-debt-reminder.mjs
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): replace unsafe regex patterns with ReDoS-safe alternatives
  apps/admin-panel/eslint.config.js
  apps/web/lib/trpc-provider.tsx
  apps/web/src/server/trpc/context.ts
  apps/web/src/server/trpc/routers/auth.ts
  docs/tasks/TASKS-PART-2-CHECKLIST.md
  packages/constants/src/validation.ts
  packages/ui/eslint.config.mjs
Due: eslint --fix --max-warnings 0, prettier --write, cd packages/constants && npm run build

docs: add rule 18 for dual-level linter system
  docs/ai-agent-rules.yml
Due: none

feat(userRouter): implement modular TRPC user API
  apps/web/src/server/trpc/routers/user.ts
  apps/web/src/server/trpc/routers/user/helpers.ts
  apps/web/src/server/trpc/routers/user/index.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  apps/web/src/server/trpc/routers/user/profile.ts
  apps/web/src/server/trpc/routers/user/security.ts
  packages/constants/src/index.ts
  packages/constants/src/user.ts
Due: eslint --fix --max-warnings 0, prettier --write, cd packages/constants && npm run build

docs: update TASKS-PART-2-CHECKLIST after completing User API
  docs/tasks/TASKS-PART-2-CHECKLIST.md
Due: prettier --write

feat: привести архитектуру ролей в соответствие с ROLES_ARCHITECTURE.md
  apps/web/src/server/trpc/index.ts
  apps/web/src/server/trpc/middleware/auth.ts
  apps/web/src/server/trpc/routers/admin.ts
  apps/web/src/server/trpc/routers/index.ts
  apps/web/src/server/trpc/routers/operator.ts
  apps/web/src/server/trpc/routers/shared.ts
  apps/web/src/server/trpc/routers/support.ts
  docs/ARCHITECTURE.md
  docs/ROLES_ARCHITECTURE.md
  docs/tasks/TASKS-PART-2-CHECKLIST.md
  docs/tasks/TASKS-PART-2.md
  packages/constants/src/business.ts
  packages/constants/src/user.ts
  packages/exchange-core/src/types/user.ts
Due: eslint --fix --max-warnings 0, prettier --write, cd packages/constants && npm run build

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,scss}
  cd packages/constants && npm run build: any of: packages/constants/src/**/*.{ts,tsx}
