Repository Spudymun/exchanger-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

fix(config): resolve ESLint issues for .cjs config files
  apps/web/package.json
  bundle-stats.json
  commitlint.config.cjs
  docs/LEVEL_6_AUDIT_REPORT.md
  eslint.config.mjs
  jest.config.cjs
  jest.setup.cjs
  package-lock.json
  package.json
  packages/constants/package.json
  packages/design-tokens/package.json
  postcss.config.cjs
  scripts/bundle-analyzer.js
  tailwind.config.cjs
  turbo.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor: consolidate tRPC clients and remove duplication
  apps/web/lib/trpc-provider.tsx
  apps/web/lib/trpc.ts
  apps/web/next.config.js
  apps/web/src/hooks/useAuthMutation.ts
  apps/web/src/hooks/useExchangeMutation.ts
  bundle-stats.json
  docs/BUNDLE_SIZE_INVESTIGATION_REPORT.md
  docs/BUNDLE_SIZE_PROFESSIONAL_ASSESSMENT.md
  turbo.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: добавлена трехуровневая стратегия аудита с AI-assisted проверками
  docs/UNIVERSAL_AUDIT_SYSTEM.md
Due: prettier --write

feat: Актуализация TASKS-PART-4 и усиление Rule 20
  docs/ai-agent-rules.yml
  docs/tasks/TASKS-PART-4-CHECKLIST.md
  docs/tasks/TASKS-PART-4.md
Due: prettier --write, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

feat(ui): add Notification, Form and Spinner components
  docs/ai-agent-rules.yml
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/notification.tsx
  packages/ui/src/components/ui/spinner.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

feat(ui): complete TASK 4.1 - extend UI library with Notification, Form, and Spinner components
  docs/tasks/TASKS-PART-4-CHECKLIST.md
Due: prettier --write

feat: качественный рефакторинг форм-компонентов
  apps/web/src/components/forms/AuthForms.tsx
  apps/web/src/components/forms/ExchangeForm.tsx
  apps/web/src/components/forms/LoginForm.tsx
  apps/web/src/components/forms/RegisterForm.tsx
  apps/web/src/components/forms/index.ts
  docs/UNIVERSAL_AUDIT_SYSTEM.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: обновить чеклист задачи 4.2 - отметить выполнение форм-компонентов
  docs/tasks/TASKS-PART-4-CHECKLIST.md
Due: prettier --write

feat(storybook): Complete UI components and forms Storybook coverage
  .storybook/main.ts
  docs/tasks/TASKS-PART-4-CHECKLIST.md
  docs/tasks/TASKS-PART-4.md
  packages/ui/src/stories/Button.stories.ts
  packages/ui/src/stories/Button.stories.tsx
  packages/ui/src/stories/Card.stories.tsx
  packages/ui/src/stories/Dialog.stories.tsx
  packages/ui/src/stories/DropdownMenu.stories.tsx
  packages/ui/src/stories/ExchangeForm.stories.tsx
  packages/ui/src/stories/Form.stories.tsx
  packages/ui/src/stories/Input.stories.tsx
  packages/ui/src/stories/Label.stories.tsx
  packages/ui/src/stories/Notification.stories.tsx
  packages/ui/src/stories/Select.stories.tsx
  packages/ui/src/stories/Spinner.stories.tsx
  packages/ui/src/stories/Table.stories.tsx
  packages/ui/src/stories/Textarea.stories.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: завершен анализ форм в Storybook
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  .storybook/storybook.css
  docs/STORYBOOK_GUIDELINES.md
  package-lock.json
  package.json
  packages/ui/src/stories/Button.stories.tsx
  packages/ui/src/stories/Card.stories.tsx
  packages/ui/src/stories/DataTable.stories.tsx
  packages/ui/src/stories/Dialog.stories.tsx
  packages/ui/src/stories/DropdownMenu.stories.tsx
  packages/ui/src/stories/ExchangeForm.stories.tsx
  packages/ui/src/stories/Form.stories.tsx
  packages/ui/src/stories/Input.stories.tsx
  packages/ui/src/stories/Label.stories.tsx
  packages/ui/src/stories/Notification.stories.tsx
  packages/ui/src/stories/Select.stories.tsx
  packages/ui/src/stories/Spinner.stories.tsx
  packages/ui/src/stories/Table.stories.tsx
  packages/ui/src/stories/Textarea.stories.tsx
  packages/ui/src/stories/design-tokens/Colors.stories.tsx
  packages/ui/src/stories/design-tokens/Spacing.stories.tsx
  packages/ui/src/stories/design-tokens/Typography.stories.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix

docs: create unified checklists for TASKS-PART-5
  docs/tasks/TASKS-PART-5-CHECKLISTS.md
  docs/tasks/TASKS-PART-5.2.md
  docs/tasks/TASKS-PART-5.3.md
  docs/tasks/TASKS-PART-5.4.md
Due: prettier --write

docs: Update Task 5.1 checklists - mark as completed
  docs/tasks/TASKS-PART-5-CHECKLISTS.md
Due: prettier --write

feat: redesign Task 5.2 architecture - integrate exchange calculator in HeroSection
  docs/tasks/TASKS-PART-5-CHECKLISTS.md
  docs/tasks/TASKS-PART-5.2.md
Due: prettier --write

docs: обновление TASK 5.2 документации под актуальную кодовую базу
  docs/tasks/TASKS-PART-5-CHECKLISTS.md
  docs/tasks/TASKS-PART-5.2.md
Due: prettier --write

feat: интеграция HeroExchangeForm в главную страницу (TASK 5.2.1)
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/HeroSection.tsx
  apps/web/src/components/app-layout.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor: optimize HeroExchangeForm component structure
  apps/web/app/[locale]/exchange/page.tsx
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/HeroSection.tsx
  apps/web/src/server/trpc/routers/fiat.ts
  apps/web/src/server/trpc/routers/index.ts
  apps/web/tsconfig.json
  docs/exchanger_AC.md
  packages/constants/src/banks.ts
  packages/constants/src/fiat-currencies.ts
  packages/constants/src/index.ts
  packages/exchange-core/src/types/fiat.ts
  packages/exchange-core/src/types/index.ts
  packages/hooks/src/state/exchange-constants.ts
  packages/hooks/src/state/exchange-fiat-actions.ts
  packages/hooks/src/state/exchange-store.ts
  packages/utils/src/index.ts
  packages/utils/src/input-validation.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: добавлен выбор стандартов токенов для криптовалют
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/HeroExchangeForm.tsx
  packages/constants/src/exchange-currencies.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor(HeroExchangeForm): decompose large component to meet 300-line limit
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/exchange-form/ExchangeBenefits.tsx
  apps/web/src/components/exchange-form/ReceivingCard.tsx
  apps/web/src/components/exchange-form/SendingCard.tsx
  apps/web/src/components/exchange-form/useHeroExchangeForm.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor(HomePage): remove 'Learn More' buttons as legacy UI elements
  apps/web/src/components/CTASection.tsx
  apps/web/src/components/HeroSection.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(FeaturesSection): redesign features with business content
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/FeaturesSection.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: enhance design system v2.1 with improved visual hierarchy
  apps/web/app/[locale]/page.tsx
  apps/web/src/app/[locale]/design-system/page.tsx
  apps/web/src/components/FeaturesSection.tsx
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/RatesSection.tsx
  apps/web/src/components/exchange-form/ReceivingCard.tsx
  apps/web/src/components/exchange-form/SendingCard.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: enhance design system v2.1 with improved visual hierarchy
  docs/ARCHITECTURE.md
  docs/CODE_STYLE_GUIDE.md
  docs/DEVELOPER_GUIDE.md
  docs/FORM_DESIGN_PATTERNS.md
  docs/SEMANTIC_DESIGN_SYSTEM.md
  docs/STORYBOOK_GUIDELINES.md
  docs/TASK_IMPLEMENTATION_GUIDE.md
  packages/design-tokens/components.tsx
  packages/design-tokens/form-patterns.js
  packages/design-tokens/index.js
  packages/ui/src/styles/globals.css
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix

fix: исправить выравнивание и layout карточек обмена
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/exchange-form/ReceivingCard.tsx
  apps/web/src/components/exchange-form/SendingCard.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: добавлена стрелка между карточками обмена
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/exchange-form/ExchangeArrow.tsx
  packages/design-tokens/components.js
  packages/design-tokens/components.tsx
  packages/design-tokens/index.js
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: обновление ai-agent-rules.yml - Подтверждение соблюдения всех 21 правила - Готовность к профессиональному аудиту системы стилей - Сохранение Tailwind v3 согласно требованиям
  docs/ai-agent-rules.yml
  package-lock.json
Due: prettier --write, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

feat: implement centralized Tailwind preset system
  apps/admin-panel/tailwind.config.js
  apps/docs/tailwind.config.js
  apps/web/tailwind.config.js
  eslint.config.mjs
  package-lock.json
  packages/tailwind-preset/.eslintrc.cjs
  packages/tailwind-preset/README.md
  packages/tailwind-preset/globals.css
  packages/tailwind-preset/package.json
  packages/tailwind-preset/preset.js
  packages/ui/tailwind.config.js
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix

docs: обновление всей документации для новой CSS архитектуры v3.0
  apps/admin-panel/app/globals.css
  apps/docs/app/globals.css
  apps/web/app/globals.css
  docs/ARCHITECTURE.md
  docs/DEVELOPER_GUIDE.md
  docs/SEMANTIC_DESIGN_SYSTEM.md
  docs/STORYBOOK_GUIDELINES.md
  docs/TASK_IMPLEMENTATION_GUIDE.md
  docs/tasks/TASKS-PART-5.1.md
  packages/ui/src/styles/globals.css
Due: prettier --write, stylelint --fix

feat: migrate Header & Footer to Compound Components Pattern v2.0
  apps/admin-panel/app/page.tsx
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/app-footer.tsx
  apps/web/src/components/app-header.tsx
  docs/COMPOUND_COMPONENTS_MIGRATION_GUIDE.md
  packages/ui/src/components/admin-panel-compound.tsx
  packages/ui/src/components/data-table-compound.tsx
  packages/ui/src/components/exchange-form.tsx
  packages/ui/src/components/footer-compound.tsx
  packages/ui/src/components/header-compound.tsx
  packages/ui/src/components/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: fix dropdown arrow positioning in select components
  apps/web/src/components/exchange-form/ReceivingCard.tsx
  apps/web/src/components/exchange-form/SendingCard.tsx
  packages/ui/src/components/ui/select.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: complete architectural cleanup and UI improvements
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/app-header.tsx
  apps/web/src/components/exchange-form/ReceivingCard.tsx
  packages/ui/src/components/exchange-form.tsx
  packages/ui/src/components/header.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(exchange-form): добавить время обработки в ReceivingCard
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/exchange-form/ReceivingCard.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(exchange-form): убрать интерактивность поля суммы в ReceivingCard
  apps/web/src/components/exchange-form/ReceivingCard.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(ui): 🎨 Hero Section responsive styling improvements & test fixes
  apps/web/app/[locale]/exchange/page.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/src/components/FeaturesSection.tsx
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/HeroSection.tsx
  apps/web/src/components/app-header.tsx
  apps/web/src/components/app-layout.tsx
  apps/web/src/components/exchange-form/ExchangeBenefits.tsx
  docs/HERO_SECTION_QUICK_REFERENCE.md
  docs/HERO_SECTION_STYLING_GUIDE.md
  docs/MOBILE_ADAPTATION_GUIDELINES.md
  docs/README.md
  packages/tailwind-preset/globals.css
  packages/ui/src/__tests__/Button.test.tsx
  packages/ui/src/components/adaptive-container.tsx
  packages/ui/src/components/exchange-form.tsx
  packages/ui/src/components/footer.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/input.tsx
  packages/ui/src/styles/adaptive-container.css
  packages/ui/src/styles/globals.css
  tailwind.config.cjs
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix

feat(header): optimize mobile header with compound components
  apps/web/src/components/app-header.tsx
  packages/ui/src/components/header-compound.tsx
  packages/ui/src/components/header.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/theme-toggle.tsx
  packages/ui/src/components/ui/button.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(style-scanner): add comprehensive style analysis tool with optimized logging
  apps/web/src/app/[locale]/design-system/page.tsx
  eslint.config.mjs
  packages/style-scanner/.eslintrc.json
  packages/style-scanner/README.md
  packages/style-scanner/bin/style-scanner-debug.js
  packages/style-scanner/bin/style-scanner.js
  packages/style-scanner/package.json
  packages/style-scanner/src/constants/index.ts
  packages/style-scanner/src/core/component-tree-simple.ts
  packages/style-scanner/src/core/main-scanner.ts
  packages/style-scanner/src/index.ts
  packages/style-scanner/src/types/scanner.ts
  packages/style-scanner/src/utils/component-parser-simple.ts
  packages/style-scanner/src/utils/file-utils.ts
  packages/style-scanner/src/utils/style-extractor.ts
  packages/style-scanner/tsconfig.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: implement complete style scanner with markdown generation
  package.json
  packages/style-scanner/bin/style-scanner.js
  packages/style-scanner/package.json
  packages/style-scanner/src/index.ts
  packages/style-scanner/src/utils/markdown-generator.ts
  style-docs/admin-panel/home-page/overview.md
  style-docs/docs/home-page/overview.md
  style-docs/summary.md
  style-docs/web/exchange-page/exchangeform.md
  style-docs/web/exchange-page/overview.md
  style-docs/web/home-page/ctasection.md
  style-docs/web/home-page/featuressection.md
  style-docs/web/home-page/herosection.md
  style-docs/web/home-page/overview.md
  style-docs/web/home-page/ratessection.md
  turbo.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: Complete STYLE_SCANNER_ENHANCEMENT_TASK implementation
  docs/STYLE_SCANNER_ENHANCEMENT_TASK.md
  packages/style-scanner/src/constants/index.ts
  packages/style-scanner/src/core/component-tree-simple.ts
  packages/style-scanner/src/core/main-scanner.ts
  packages/style-scanner/src/types/scanner.ts
  packages/style-scanner/src/utils/component-analyzers.ts
  packages/style-scanner/src/utils/component-parser-simple.ts
  packages/style-scanner/src/utils/markdown-generator.ts
  packages/style-scanner/src/utils/markdown-utils.ts
  packages/style-scanner/src/utils/style-extractor.ts
  style-docs/admin-panel/home-page/overview.md
  style-docs/docs/home-page/overview.md
  style-docs/summary.md
  style-docs/web/exchange-page/exchangeform.md
  style-docs/web/exchange-page/overview.md
  style-docs/web/home-page/ctasection.md
  style-docs/web/home-page/featuressection.md
  style-docs/web/home-page/herosection.md
  style-docs/web/home-page/overview.md
  style-docs/web/home-page/ratessection.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: Add CVA pattern support and style source attribution
  packages/style-scanner/debug-imports.js
  packages/style-scanner/src/constants/index.ts
  packages/style-scanner/src/core/component-tree-simple.ts
  packages/style-scanner/src/core/main-scanner.ts
  packages/style-scanner/src/types/scanner.ts
  packages/style-scanner/src/utils/component-parser-simple.ts
  packages/style-scanner/src/utils/markdown-generator.ts
  packages/style-scanner/src/utils/style-extractor.ts
  style-docs/admin-panel/home-page/overview.md
  style-docs/docs/home-page/overview.md
  style-docs/summary.md
  style-docs/web/exchange-page/exchangeform.md
  style-docs/web/exchange-page/overview.md
  style-docs/web/home-page/ctasection.md
  style-docs/web/home-page/featuressection.md
  style-docs/web/home-page/herosection.md
  style-docs/web/home-page/overview.md
  style-docs/web/home-page/ratessection.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(style-scanner): unified page structuring for all page types
  docs/ai-agent-rules.yml
  packages/style-scanner/CHANGELOG.md
  packages/style-scanner/src/utils/markdown-generator.ts
  packages/style-scanner/src/utils/markdown-utils.ts
  style-docs/admin-panel/home-page/actionbuttons.md
  style-docs/admin-panel/home-page/adminavatar.md
  style-docs/admin-panel/home-page/admindashboard.md
  style-docs/admin-panel/home-page/adminheader.md
  style-docs/admin-panel/home-page/adminheaderactions.md
  style-docs/admin-panel/home-page/adminheadertitle.md
  style-docs/admin-panel/home-page/navigationtree.md
  style-docs/admin-panel/home-page/overview.md
  style-docs/admin-panel/home-page/statscard.md
  style-docs/admin-panel/home-page/statsgrid.md
  style-docs/admin-panel/home-page/userstablenew.md
  style-docs/docs/home-page/ctasection.md
  style-docs/docs/home-page/footersection.md
  style-docs/docs/home-page/home.md
  style-docs/docs/home-page/instructionslist.md
  style-docs/docs/home-page/logosection.md
  style-docs/docs/home-page/overview.md
  style-docs/docs/home-page/themeimage.md
  style-docs/summary.md
  style-docs/web/exchange-page/exchangeform.md
  style-docs/web/exchange-page/overview.md
  style-docs/web/home-page/ctasection.md
  style-docs/web/home-page/featuressection.md
  style-docs/web/home-page/herosection.md
  style-docs/web/home-page/overview.md
  style-docs/web/home-page/ratessection.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

Path conditions:
  eslint --fix --max-warnings 0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})) or (any of: *.{yml,yaml})
  stylelint --fix: any of: *.{css,scss}
  echo 'Skipping formatting for ai-agent-rules.yml (protected file)': any of: docs/ai-agent-rules.yml
