Repository Spudymun/exchanger-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true, stylelint --fix || true, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

feat: 🛡️ Implement Security-Enhanced Validation System
  README.md
  apps/web/lib/stores.ts
  apps/web/src/components/forms/ExchangeForm.tsx
  apps/web/src/components/forms/LoginForm.tsx
  apps/web/src/components/forms/RegisterForm.tsx
  apps/web/src/server/trpc/routers/auth.ts
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/operator.ts
  apps/web/src/server/trpc/routers/shared.ts
  apps/web/src/server/trpc/routers/support.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  apps/web/src/server/trpc/routers/user/profile.ts
  apps/web/src/server/trpc/routers/user/security.ts
  docs/SECURITY_ENHANCED_VALIDATION_GUIDE.md
  docs/VALIDATION_ARCHITECTURE_GUIDE.md
  docs/VALIDATION_LOCALIZATION_GUIDE.md
  docs/ai-agent/ai-agent-rules.yml
  docs/план-исправлений-web.md
  packages/exchange-core/README.md
  packages/exchange-core/src/utils/composite-validators.ts
  packages/hooks/README.md
  packages/hooks/src/business/useExchange.ts
  packages/hooks/src/useExchangeStore.ts
  packages/utils/README.md
  packages/utils/src/index.ts
  packages/utils/src/validation-schemas.ts
  packages/utils/src/validation/index.ts
  packages/utils/src/validation/schemas-composed.ts
  packages/utils/src/validation/schemas-utils.ts
  packages/utils/src/validation/security-enhanced-operator.ts
  packages/utils/src/validation/security-enhanced-schemas.ts
  packages/utils/src/validation/security-enhanced-utils.ts
  packages/utils/src/validation/security-utils.ts
  packages/utils/src/validation/single-field.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

fix: 🧪 Exclude dist/ folder from Jest test discovery
  packages/ui/jest.config.js
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: implement performance optimization for compound components
  README.md
  docs/COMPOUND_COMPONENTS_MIGRATION_GUIDE.md
  docs/PROJECT_CODEBASE_CATALOG.md
  docs/план-исправлений-web.md
  packages/eslint-config/README.md
  packages/eslint-config/performance-utils.ts
  packages/ui/README.md
  packages/ui/src/components/adaptive-container.tsx
  packages/ui/src/components/admin-panel-compound.tsx
  packages/ui/src/components/data-table-compound.tsx
  packages/ui/src/components/exchange-form.tsx
  packages/ui/src/components/footer-compound.tsx
  packages/ui/src/components/ui/form.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: complete comprehensive design tokens audit (Phase 3)
  design-tokens-audit-checklist-REAL.md
Due: prettier --write || true

feat: complete design tokens audit progress
  apps/admin-panel/app/error.tsx
  apps/admin-panel/app/loading.tsx
  apps/admin-panel/app/not-found.tsx
  apps/admin-panel/app/page.tsx
  apps/web/app/[locale]/not-found-page/page.tsx
  design-tokens-audit-checklist-REAL.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(web): replace hardcoded gradient with semantic token in error.tsx
  apps/web/app/[locale]/error.tsx
  design-tokens-audit-checklist-REAL.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(web): replace hardcoded gradient with semantic token in exchange page
  apps/web/app/[locale]/exchange/page.tsx
  design-tokens-audit-checklist-REAL.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(web): replace hardcoded gradient with semantic token in locale loading
  apps/web/app/[locale]/loading.tsx
  design-tokens-audit-checklist-REAL.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(web): replace hardcoded colors with semantic tokens in global loading
  apps/web/app/loading.tsx
  design-tokens-audit-checklist-REAL.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(web): replace hardcoded colors with semantic tokens in exchange form cards
  apps/web/src/components/exchange-form/ReceivingCard.tsx
  apps/web/src/components/exchange-form/SendingCard.tsx
  design-tokens-audit-checklist-REAL.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(web): replace hardcoded colors with semantic tokens in ExchangeRates
  apps/web/src/components/ExchangeRates.tsx
  design-tokens-audit-checklist-REAL.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(design-tokens): replace hardcoded text-blue-500 with text-primary in OrderStatus
  apps/web/src/components/OrderStatus.tsx
  design-tokens-audit-checklist-REAL.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat(design-tokens): Complete critical design tokens audit cleanup
  design-tokens-audit-checklist-REAL.md
  packages/ui/src/components/admin-panel-compound.tsx
  packages/ui/src/components/exchange-form.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/notification.tsx
  packages/ui/src/components/ui/spinner.tsx
  packages/ui/src/lib/shared-styles.ts
  packages/ui/src/stories/Card.stories.tsx
  packages/ui/src/stories/DataTable.stories.tsx
  packages/ui/src/stories/Footer.stories.tsx
  packages/ui/src/stories/Spinner.stories.tsx
  packages/ui/src/stories/design-tokens/Colors.stories.tsx
  packages/ui/src/stories/design-tokens/Spacing.stories.tsx
  packages/ui/src/stories/design-tokens/Typography.stories.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: complete design tokens audit with 100% semantic compliance
  apps/web/src/components/OrderStatus.tsx
  design-tokens-audit-checklist-REAL.md
  development-files-checklist.md
  docs/план-исправлений-web.md
  packages/design-tokens/form-patterns.js
  packages/ui/src/stories/Spinner.stories.tsx
  packages/ui/src/stories/Table.stories.tsx
  packages/ui/src/stories/design-tokens/Typography.stories.tsx
  packages/utils/src/order-status.ts
  web-audit-report.md
  web-structure.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

docs: добавить подробные описания для всех файлов и директорий в PROJECT_STRUCTURE_MAP.md
  docs/PROJECT_CONTEXT_MAP.yml
  docs/PROJECT_STRUCTURE_MAP.md
  docs/ai-agent/copilot_prompt_template.md
  docs/analysis/exchange-core-audit-report.md
  docs/plans/exchange-core-improvement-plan.md
  docs/tasks/I18N_INTEGRATION_REQUIREMENTS.md
  docs/tasks/TASKS-PART-6.md
  docs/tasks/TASKS-PART-7.md
  docs/tasks/TASKS-PART-8.1-DOCKER.md
  docs/tasks/TASKS-PART-8.2-CICD.md
  docs/tasks/TASKS-PART-8.3-MONITORING.md
  docs/tasks/TASKS-PART-8.4-LAUNCH.md
  docs/tasks/TASKS-PART-8.md
Due: prettier --write || true

feat: add API verification scripts with PSScriptAnalyzer compliance
  docs/API_DOCS.md
  scripts/final-api-check.ps1
Due: prettier --write || true

feat: refactor ARCHITECTURE.md to proper architectural overview
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_BACKUP.md
Due: prettier --write || true

docs: consolidate AUTH migration documentation
  docs/AUTH_MIGRATION_COMPLETION_REPORT.md
  docs/DEVELOPER_GUIDE.md
Due: prettier --write || true

docs: enhance CODE_STYLE_GUIDE with verified architectural patterns
  docs/CLAUDE.md
  docs/CODE_STYLE_GUIDE.md
  docs/PROJECT_STRUCTURE_MAP.md
Due: prettier --write || true

feat(docs): extract valuable content from migration guide to permanent docs
  docs/CODE_STYLE_GUIDE.md
  docs/COMPOUND_COMPONENTS_MIGRATION_GUIDE.md
  docs/DEVELOPER_GUIDE.md
  docs/PROJECT_STRUCTURE_MAP.md
Due: prettier --write || true

docs: интеграция валидационных руководств и оптимизация документации
  docs/CODE_STYLE_GUIDE.md
  docs/CONSTANTS_EXAMPLES.ts
  docs/DEVELOPER_GUIDE.md
  docs/FORM_DESIGN_PATTERNS.md
  docs/I18N_VALIDATION_ARCHITECTURE_REPORT.md
  docs/MODAL_AUTH_FILES_ANALYSIS.md
  docs/PROJECT_CODEBASE_CATALOG.md
  docs/PROJECT_STRUCTURE_MAP.md
  docs/README.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: implement project-specific tech debt rules v2.0
  .lintstagedrc.json
  docs/ai-agent/TECH_DEBT_IMPLEMENTATION_REPORT.md
  docs/ai-agent/tech_debt_rules.yaml
Due: prettier --write || true

feat: add checkbox component and card validation with project structure updates
  apps/web/app/[locale]/exchange/page.tsx
  apps/web/src/components/forms/ExchangeForm.legacy.tsx
  docs/PROJECT_STRUCTURE_MAP.md
  docs/ai-agent/ai-agent-rules.yml
  docs/exchange-usdt-trc20-to-uah-card-acceptance-criteria-FINAL.md
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/checkbox.tsx
  packages/utils/src/validation/card-validation.ts
  packages/utils/src/validation/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

fix: update ExchangeForm import path after rename to legacy
  apps/web/src/components/forms/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

docs: Add exchange page implementation plan and update AI agent rules
  docs/ai-agent/ai-agent-rules.yml
  docs/exchange-usdt-trc20-to-uah-card-acceptance-criteria-FINAL.md
  docs/tasks/1.1.validation-schemas.md
  docs/tasks/1.2.constants-extension.md
  docs/tasks/exchange-page-implementation-plan.md
  docs/tasks/task-1-3-detailed-plan.md
Due: prettier --write || true, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

feat(validation): implement task 1.1 - security-enhanced validation schemas
  packages/utils/src/validation/security-enhanced-auth-schemas.ts
  packages/utils/src/validation/security-enhanced-exchange-schemas.ts
  packages/utils/src/validation/security-enhanced-schemas.ts
  packages/utils/src/validation/security-enhanced-support-schemas.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: Complete task 1.2.constants-extension - Centralize all hardcoded constants
  apps/admin-panel/app/error.tsx
  apps/admin-panel/app/not-found.tsx
  apps/web/app/[locale]/not-found-page/page.tsx
  apps/web/src/components/app-footer.tsx
  apps/web/src/components/app-header.tsx
  apps/web/src/components/exchange-form/useHeroExchangeForm.ts
  docs/ai-agent/tech_debt_rules.yaml
  docs/tasks/1.2.constants-extension.md
  packages/constants/src/app-routes.ts
  packages/constants/src/exchange.ts
  packages/constants/src/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

docs: Update PROJECT_STRUCTURE_MAP.md based on last 2 commits
  docs/PROJECT_STRUCTURE_MAP.md
Due: prettier --write || true

feat: refactor validation & tech debt analysis
  apps/web/src/components/forms/ExchangeForm.legacy.tsx
  apps/web/src/components/forms/index.ts
  apps/web/src/hooks/useExchangeStoreWithTranslations.ts
  docs/PROJECT_STRUCTURE_MAP.md
  docs/tasks/task-1-3-detailed-plan.md
  docs/troubleshooting/VALIDATION_DUPLICATION_ANALYSIS.md
  packages/constants/src/banks.ts
  packages/constants/src/exchange-currencies.ts
  packages/constants/src/index.ts
  packages/hooks/src/business/useExchange.ts
  packages/hooks/src/state/exchange-constants.ts
  packages/hooks/src/state/exchange-fiat-actions.ts
  packages/hooks/src/state/exchange-helpers.ts
  packages/hooks/src/state/exchange-selectors.ts
  packages/hooks/src/state/exchange-store.ts
  packages/hooks/src/useExchangeStore.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: ЭТАП 1 - добавлена XSS защита в героформу
  apps/web/src/components/exchange-form/useHeroExchangeForm.ts
  packages/utils/package.json
  packages/utils/src/validation/security-enhanced-utils.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: ЭТАП 2 - унификация констант валидации + архитектурная документация
  apps/web/src/components/exchange-form/useHeroExchangeForm.ts
  docs/VALIDATION_ARCHITECTURE_GUIDE.md
  packages/constants/README.md
  packages/constants/src/exchange.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: ЭТАП 3 - удаление неиспользуемых схем валидации
  packages/utils/src/validation/security-enhanced-exchange-schemas.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: implement Task 2.1 - Exchange page layout and structure
  apps/web/app/[locale]/exchange/components/ExchangeContainer.tsx
  apps/web/app/[locale]/exchange/components/ExchangeLayout.tsx
  apps/web/app/[locale]/exchange/page.tsx
  apps/web/messages/ru.json
  docs/tasks/task-2-1-detailed-plan.md
  docs/tasks/task-2-2-detailed-plan.md
  docs/tasks/task-2-3-detailed-plan.md
  docs/tasks/task-2-4-detailed-plan.md
  docs/troubleshooting/VALIDATION_DUPLICATION_ANALYSIS.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: реорганизация компонентов exchange - завершение task 2.1
  apps/web/app/[locale]/exchange/page.tsx
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/exchange/ExchangeContainer.tsx
  apps/web/src/components/exchange/ExchangeLayout.tsx
  apps/web/src/components/hero-exchange/ExchangeArrow.tsx
  apps/web/src/components/hero-exchange/ExchangeBenefits.tsx
  apps/web/src/components/hero-exchange/ReceivingCard.tsx
  apps/web/src/components/hero-exchange/SendingCard.tsx
  apps/web/src/components/hero-exchange/useHeroExchangeForm.ts
  docs/PROJECT_STRUCTURE_MAP.md
  docs/tasks/task-2-1-detailed-plan.md
  docs/tasks/task-2-2-detailed-plan.md
  docs/tasks/task-2-3-detailed-plan.md
  docs/tasks/task-2-4-detailed-plan.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

feat: complete validation redundancy audit
  apps/web/messages/en.json
  apps/web/messages/ru.json
  apps/web/src/components/HeroExchangeForm.tsx
  apps/web/src/components/exchange/ExchangeContainer.tsx
  apps/web/src/components/exchange/ExchangeLayout.tsx
  apps/web/src/components/hero-exchange/useHeroExchangeForm.ts
  docs/tasks/task-2-2-detailed-plan.md
  packages/hooks/src/business/useExchange.ts
  packages/ui/src/components/exchange-form.tsx
  packages/ui/src/components/index.ts
  packages/utils/src/index.ts
  packages/utils/src/validation/constants.ts
  packages/utils/src/validation/handlers.ts
  packages/utils/src/validation/index.ts
  packages/utils/src/validation/security-enhanced-exchange-schemas.ts
  validation-redundancy-audit.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(validation): eliminate constants duplication in security-utils.ts
  packages/utils/src/validation/security-utils.ts
  validation-redundancy-audit.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix: resolve validation redundancy and repair useFormWithNextIntl
  docs/PROJECT_STRUCTURE_MAP.md
  packages/hooks/src/business/useFormWithNextIntl.ts
  packages/utils/src/validation/field-validation.ts
  packages/utils/src/validation/hooks.ts
  packages/utils/src/validation/index.ts
  packages/utils/src/validation/single-field.ts
  validation-redundancy-audit.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix: eliminate password schema redundancy in tRPC deleteAccount
  apps/web/src/server/trpc/routers/user/security.ts
  validation-redundancy-audit.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix(validation): remove decimal places constant duplication
  packages/utils/src/validation/schemas-crypto.ts
  validation-redundancy-audit.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

fix: resolve validation redundancy issue #4
  docs/tasks/validation-redundancy-fix-plan-4.md
  packages/hooks/src/business/useFormWithNextIntl.helpers.ts
  packages/hooks/src/business/useFormWithNextIntl.ts
  packages/utils/src/validation/handlers.ts
  packages/utils/src/validation/security-enhanced-exchange-schemas.ts
  packages/utils/src/validation/zod-helpers.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored || true, prettier --write || true

Path conditions:
  eslint --fix --max-warnings 0 --no-warn-ignored || true: any of: *.{js,jsx,ts,tsx}
  prettier --write || true: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})) or (any of: *.{yml,yaml})
  stylelint --fix || true: any of: *.{css,scss}
  echo 'Skipping formatting for ai-agent-rules.yml (protected file)': any of: docs/ai-agent/ai-agent-rules.yml
