Repository Spudymun/exchanger-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix, echo 'Skipping formatting for ai-agent-rules.yml (protected file)', echo 'Skipping formatting for tech_debt_rules.yaml (protected file)'

fix: update Prisma commands to use correct .env paths
  docs/core/TURBOREPO_ENVIRONMENT_VARIABLES_GUIDE.md
  package.json
Due: prettier --write

docs: add comprehensive Acceptance Criteria for crypto exchange order processing
  docs/analysis/ORDERS_AC.md
  docs/analysis/PROJECT_ALIGNED_ORDERS_AC.md
Due: prettier --write

docs: исправление архитектурного анализа системы заявок
  docs/analysis/ARCHITECTURE_ANALYSIS_ORDER_SYSTEM.md
  docs/analysis/PROJECT_ALIGNED_ORDERS_AC.md
Due: prettier --write

docs: добавлен детальный task list для системы обработки заявок
  docs/tasks/ORDER_SYSTEM_IMPLEMENTATION_TASK_LIST.md
Due: prettier --write

fix: исправления в TASK_1_1_PRISMA_SCHEMA_EXTENSION_PLAN.md
  docs/tasks/TASK_1_1_PRISMA_SCHEMA_EXTENSION_PLAN.md
Due: prettier --write

refactor: удален неиспользуемый transaction.ts
  packages/exchange-core/src/types/index.ts
  packages/exchange-core/src/types/transaction.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: ✅ TASK 1.1 - Prisma Schema Extension for Orders & Audit System
  docs/tasks/ORDER_SYSTEM_IMPLEMENTATION_TASK_LIST.md
  packages/session-management/prisma/migrations/20250916120948_add_orders_audit_logs/migration.sql
  packages/session-management/prisma/schema.prisma
Due: prettier --write

feat(exchange-core): implement Repository interfaces for Order System (Task 1.2)
  docs/tasks/ORDER_SYSTEM_IMPLEMENTATION_TASK_LIST.md
  docs/tasks/TASK_1_2_REPOSITORY_INTERFACES_PLAN.md
  packages/exchange-core/src/index.ts
  packages/exchange-core/src/repositories/audit-repository-interface.ts
  packages/exchange-core/src/repositories/enhanced-user-repository-interface.ts
  packages/exchange-core/src/repositories/index.ts
  packages/exchange-core/src/repositories/order-repository-interface.ts
  packages/exchange-core/src/repositories/queue-repository-interface.ts
  packages/exchange-core/src/repositories/types.ts
  packages/exchange-core/src/repositories/wallet-repository-interface.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(trpc): add missing await keywords in user security router
  apps/web/src/server/trpc/routers/user/security.ts
  packages/exchange-core/src/utils/access-validators.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(prisma): implement Task 1.3 - Prisma-based data manager replacement
  docs/tasks/ORDER_SYSTEM_IMPLEMENTATION_TASK_LIST.md
  docs/tasks/TASK_1_3_PRISMA_INTEGRATION_PLAN.md
  packages/exchange-core/src/data/manager.ts
  packages/exchange-core/src/repositories/order-repository-interface.ts
  packages/exchange-core/src/services/auto-registration-service.ts
  packages/exchange-core/src/types/order.ts
  packages/session-management/src/adapters/postgres-order-adapter.ts
  packages/session-management/src/factories/user-manager-factory.ts
  packages/session-management/src/index.ts
  packages/session-management/src/types-only.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(typescript): update module resolution and import paths
  packages/exchange-core/tsconfig.json
  packages/session-management/src/adapters/postgres-session-adapter.ts
  packages/session-management/src/adapters/postgres-user-adapter.ts
  packages/session-management/src/adapters/redis-session-adapter.ts
  packages/session-management/src/managers/production-user-manager.ts
  packages/session-management/src/types/index.ts
  packages/session-management/src/types/interfaces.ts
  packages/session-management/src/types/types.ts
  packages/session-management/src/utils/environment.ts
  packages/typescript-config/base.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(turbopack): resolve server dependencies leaking into client bundle
  apps/admin-panel/lib/empty.js
  apps/docs/lib/empty.js
  apps/web/lib/empty.js
  apps/web/src/server/trpc/types.ts
  docs/troubleshooting/turbopack-ioredis-leak.md
  package-lock.json
  package.json
  packages/session-management/package.json
  packages/session-management/prisma/schema.prisma
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(ui): adapt OrderStatusHelpers and order-utils to userId architecture
  packages/ui/src/components/order/helpers/OrderStatusHelpers.tsx
  packages/utils/src/order-utils.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(trpc): integrate async manager APIs and Next.js 15 compatibility
  apps/admin-panel/next.config.mjs
  apps/docs/next.config.js
  apps/web/lib/trpc-provider.tsx
  apps/web/next.config.js
  apps/web/src/hooks/useExchangeMutation.ts
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/operator.ts
  apps/web/src/server/trpc/routers/shared.ts
  apps/web/src/server/trpc/routers/support.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  apps/web/src/server/trpc/routers/user/profile.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: implement WalletPoolManager with FIFO allocation strategies
  docs/tasks/TASK_2_1_WALLET_POOL_MANAGER_IMPLEMENTATION_PLAN.md
  packages/constants/src/index.ts
  packages/constants/src/wallet-pool-config.ts
  packages/exchange-core/src/services/index.ts
  packages/exchange-core/src/services/wallet-pool-manager-factory.ts
  packages/exchange-core/src/services/wallet-pool-manager.ts
  packages/exchange-core/src/services/wallet-strategies/immediate-allocation-strategy.ts
  packages/exchange-core/src/services/wallet-strategies/queue-allocation-strategy.ts
  packages/exchange-core/src/services/wallet-strategies/wallet-allocation-strategy.ts
  packages/exchange-core/src/types/index.ts
  packages/session-management/src/adapters/base-postgres-adapter.ts
  packages/session-management/src/adapters/postgres-queue-adapter.ts
  packages/session-management/src/adapters/postgres-wallet-adapter.ts
  packages/session-management/src/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(db): добавлены недостающие модели Wallet и WalletQueue в Prisma schema
  packages/session-management/prisma/schema.prisma
Due: none

feat(database): add wallet management system migration
  packages/session-management/prisma/migrations/20250917175605_v3/migration.sql
Due: none

fix: обновить postgres-order-adapter после миграции v3
  packages/session-management/prisma/schema.prisma
  packages/session-management/src/adapters/postgres-order-adapter.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(TASK_2_2): implement Redis FIFO wallet queue system
  docs/tasks/TASK_2_2_FIFO_REDIS_WALLET_QUEUE_IMPLEMENTATION_PLAN.md
  packages/constants/src/session.ts
  packages/exchange-core/src/adapters/index.ts
  packages/exchange-core/src/adapters/redis-wallet-queue-adapter.ts
  packages/exchange-core/src/docs/REDIS_FIFO_IMPLEMENTATION.md
  packages/exchange-core/src/factories/index.ts
  packages/exchange-core/src/factories/redis-wallet-queue-factory.ts
  packages/exchange-core/src/index.ts
  packages/exchange-core/src/repositories/index.ts
  packages/exchange-core/src/repositories/redis-queue-repository.ts
  packages/exchange-core/src/services/id-generation.ts
  packages/exchange-core/src/types/index.ts
  packages/exchange-core/src/types/wallet-queue-adapter.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(task-2.3): implement automatic wallet release mechanism
  apps/web/src/server/trpc/routers/operator.ts
  docs/tasks/TASK_2_3_WALLET_RELEASE_MECHANISM_IMPLEMENTATION_PLAN.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(task-3.1): implement enhanced user manager with session integration
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/utils/session-metadata.ts
  docs/tasks/TASK_3_1_ENHANCED_USER_MANAGER_PLAN.md
  packages/constants/src/validation.ts
  packages/exchange-core/src/repositories/enhanced-user-repository-interface.ts
  packages/exchange-core/src/repositories/index.ts
  packages/exchange-core/src/repositories/types.ts
  packages/exchange-core/src/services/auto-registration-service.ts
  packages/exchange-core/src/services/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(Task 3.2): Auto-Registration Enhancement - basic implementation
  apps/web/src/server/trpc/routers/exchange.ts
  docs/tasks/TASK_3_2_AUTO_REGISTRATION_ENHANCEMENT_PLAN.md
  packages/exchange-core/src/services/auto-registration-service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(Task 3.2): Resolve identified code quality issues
  packages/constants/src/validation.ts
  packages/exchange-core/src/services/auto-registration-service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: исправлен план Task 3.3 - задача уже реализована
  docs/tasks/TASK_3_3_AUTO_LOGIN_DETAILED_PLAN.md
Due: prettier --write

feat(Task 3.4): implement email service for crypto address delivery
  apps/web/src/server/trpc/routers/exchange.ts
  docs/tasks/ORDER_SYSTEM_IMPLEMENTATION_TASK_LIST.md
  docs/tasks/TASK_3_4_CORRECTED_ANALYSIS.md
  docs/tasks/late/EMAIL_LOCALIZATION_TASK.md
  package-lock.json
  packages/constants/src/time-constants.ts
  packages/email-service/package.json
  packages/email-service/src/factories/email-service-factory.ts
  packages/email-service/src/index.ts
  packages/email-service/src/providers/mock-email-provider.ts
  packages/email-service/src/providers/resend-email-provider.ts
  packages/email-service/src/providers/sendgrid-email-provider.ts
  packages/email-service/src/services/email-service.ts
  packages/email-service/src/services/email-template-service.ts
  packages/email-service/src/templates/crypto-address.html
  packages/email-service/src/templates/crypto-address.txt
  packages/email-service/src/types/index.ts
  packages/email-service/tsconfig.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: корректировки кода по анализу TASK_3_4
  apps/web/src/server/trpc/middleware/rateLimit.ts
  apps/web/src/server/trpc/routers/exchange.ts
  packages/constants/src/exchange.ts
  packages/constants/src/rate-limits.ts
  packages/constants/src/time-constants.ts
  packages/email-service/src/index.ts
  packages/email-service/src/services/email-service.ts
  packages/email-service/src/services/email-template-service.ts
  packages/email-service/src/utils/rate-limited-email-service.ts
  packages/exchange-core/src/utils/data-sanitizers.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: implement WalletPoolManager integration in exchange router
  apps/web/src/server/trpc/routers/exchange.ts
  docs/tasks/TASK_4_1_EXCHANGE_ROUTER_ENHANCEMENT_PLAN.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: apply all quality corrections for Task 4.4 Queue Mechanism
  docs/tasks/TASK_4_3_WALLET_ALLOCATION_ANALYSIS_REPORT.md
  docs/tasks/TASK_4_4_QUEUE_MECHANISM_FINAL_REPORT.md
  docs/tasks/TASK_4_4_QUEUE_MECHANISM_IMPLEMENTATION_PLAN.md
  packages/session-management/src/adapters/base-postgres-adapter.ts
  packages/session-management/src/adapters/postgres-order-adapter.ts
  packages/session-management/src/adapters/postgres-queue-adapter.ts
  packages/session-management/src/adapters/postgres-wallet-adapter.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(operator): resolve hardcode and validation issues in operator router
  apps/web/messages/en/operator.json
  apps/web/messages/en/server-errors.json
  apps/web/messages/ru/operator.json
  apps/web/messages/ru/server-errors.json
  apps/web/src/i18n/request.ts
  apps/web/src/server/trpc/routers/operator.ts
  docs/tasks/TASK_5_1_OPERATOR_ROUTER_ENHANCEMENT_INTEGRATION_PLAN.md
  packages/exchange-core/src/data/manager.ts
  packages/exchange-core/src/types/order.ts
  packages/utils/src/index.ts
  packages/utils/src/validation/security-enhanced-operator.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(wallet): implement Task 5.2 wallet release mechanism and email notifications
  docs/analysis/TASK_5_2_CODE_REVIEW_REPORT.md
  packages/exchange-core/src/services/index.ts
  packages/exchange-core/src/services/queue-email-notifier.ts
  packages/exchange-core/src/services/wallet-pool-manager-factory.ts
  packages/exchange-core/src/services/wallet-pool-manager.ts
  packages/exchange-core/src/services/wallet-strategies/queue-allocation-strategy.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(task-5.2): исправлены критические проблемы кода
  docs/analysis/TASK_4_1_DETAILED_IMPLEMENTATION_PLAN.md
  packages/constants/src/wallet-pool-config.ts
  packages/exchange-core/src/services/queue-email-notifier.ts
  packages/exchange-core/src/services/wallet-pool-manager-factory.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: implement concurrent access protection for takeOrder operation
  apps/web/messages/en/server-errors.json
  apps/web/messages/ru/server-errors.json
  apps/web/src/server/trpc/routers/operator.ts
  docs/tasks/TASK_5_4_CONCURRENT_ACCESS_PROTECTION_PLAN.md
  packages/session-management/src/adapters/postgres-order-adapter.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(monitoring): Add wallet pool stats monitoring integration
  apps/web/src/server/trpc/routers/shared.ts
  docs/tasks/TASK_6_1_WALLET_QUEUE_COMPLETION_PLAN.md
  docs/tasks/TASK_6_2_BACKGROUND_QUEUE_PROCESSING_ANALYSIS_REPORT.md
  docs/tasks/TASK_6_3_WALLET_POOL_STATS_MONITORING_INTEGRATION_PLAN.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(wallet-alerts): implement Task 6.4 - alerting system for critical wallet thresholds
  apps/web/src/server/trpc/routers/shared.ts
  docs/tasks/TASK_6_4_WALLET_ALERTS_IMPLEMENTATION_PLAN.md
  package-lock.json
  package.json
  packages/email-service/src/services/email-template-service.ts
  packages/exchange-core/src/server.ts
  packages/exchange-core/src/services/index.ts
  packages/exchange-core/src/services/wallet-alerts-service.ts
  packages/exchange-core/src/services/wallet-monitoring-process.ts
  packages/exchange-core/src/services/wallet-pool-manager.ts
  packages/exchange-core/test/wallet-alerts.test.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(wallet-alerts): correct email architecture - replace sendCryptoAddress misuse
  packages/email-service/src/index.ts
  packages/email-service/src/services/email-service.ts
  packages/email-service/src/services/email-template-service.ts
  packages/email-service/src/templates/system-alert.html
  packages/email-service/src/templates/system-alert.txt
  packages/email-service/src/types/index.ts
  packages/exchange-core/src/services/wallet-alerts-service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(email-service): Add Gmail SMTP Provider implementation
  docs/tasks/TASK_7_1_EMAIL_SERVICE_ANALYSIS.md
  docs/tasks/TASK_7_3_GMAIL_SMTP_IMPLEMENTATION_PLAN.md
  package-lock.json
  packages/constants/src/email-errors.ts
  packages/constants/src/index.ts
  packages/constants/src/smtp-providers.ts
  packages/email-service/GMAIL_SMTP_USAGE.md
  packages/email-service/package.json
  packages/email-service/src/factories/email-service-factory.ts
  packages/email-service/src/index.ts
  packages/email-service/src/providers/gmail-smtp-email-provider.ts
  packages/email-service/src/types/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(email): add environment variables support for Gmail SMTP
  packages/email-service/GMAIL_SMTP_USAGE.md
  packages/email-service/src/factories/email-service-factory.ts
  packages/email-service/src/providers/gmail-smtp-email-provider.ts
  turbo.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: TASK_7_4 - Background email queue integration
  apps/web/app/api/background/email-worker/route.ts
  docs/tasks/TASK_7_4_BACKGROUND_EMAIL_QUEUE_INTEGRATION_PLAN.md
  packages/eslint-config/ignores.js
  packages/eslint-config/testing.js
  packages/exchange-core/src/services/queue-email-notifier.ts
  packages/exchange-core/src/services/wallet-strategies/queue-allocation-strategy.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: Jest test configuration issues
  jest.config.cjs
  packages/exchange-core/test/wallet-alerts.test.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: implement wallet ready email template system
  docs/ai-agent/tech_debt_rules.yaml
  docs/core/DEVELOPER_GUIDE.md
  docs/tasks/TASK_8_3_WALLET_READY_TEMPLATE_IMPLEMENTATION_PLAN.md
  packages/email-service/src/index.ts
  packages/email-service/src/services/email-service.ts
  packages/email-service/src/services/email-template-service.ts
  packages/email-service/src/templates/crypto-address.html
  packages/email-service/src/templates/email-base.css
  packages/email-service/src/templates/wallet-ready.html
  packages/email-service/src/templates/wallet-ready.txt
  packages/email-service/src/types/index.ts
  packages/tailwind-preset/globals.css
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix, echo 'Skipping formatting for tech_debt_rules.yaml (protected file)'

Path conditions:
  eslint --fix --max-warnings 0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,scss}
  echo 'Skipping formatting for ai-agent-rules.yml (protected file)': any of: docs/ai-agent/ai-agent-rules.yml
  echo 'Skipping formatting for tech_debt_rules.yaml (protected file)': any of: docs/ai-agent/tech_debt_rules.yaml
