Repository Spudymun/exchanger-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, stylelint --fix, echo 'Skipping formatting for ai-agent-rules.yml (protected file)', echo 'Skipping formatting for tech_debt_rules.yaml (protected file)'

feat(i18n): implement conditional loading and caching optimization
  apps/web/middleware.ts
  apps/web/src/i18n/request.ts
  docs/tasks/i18n-stage-2-optimization-report.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(i18n): implement lazy loading for translation modules (Stage 3)
  apps/web/src/i18n/request.ts
  docs/tasks/i18n-restructuring-migration-plan.md
  docs/tasks/i18n-stage3-implementation-summary.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(docs): clean up completed i18n migration task docs
  apps/web/app/[locale]/layout.tsx
  apps/web/messages/en.json
  apps/web/messages/ru.json
  docs/DEVELOPER_GUIDE.md
  docs/PROJECT_STRUCTURE_MAP.md
  docs/TASK_IMPLEMENTATION_GUIDE.md
  docs/VALIDATION_LOCALIZATION_GUIDE.md
  docs/exchange-usdt-trc20-to-uah-card-acceptance-criteria-FINAL.md
  docs/tasks/1.1.validation-schemas.md
  docs/tasks/1.2.constants-extension.md
  docs/tasks/exchange-page-implementation-plan.md
  docs/tasks/i18n-restructuring-migration-plan.md
  docs/tasks/i18n-stage-2-optimization-report.md
  docs/tasks/i18n-stage3-implementation-summary.md
  docs/tasks/task-1-3-detailed-plan.md
  docs/tasks/task-2-1-detailed-plan.md
  docs/tasks/task-2-2-detailed-plan.md
  docs/tasks/task-2-3-detailed-plan.md
  docs/tasks/task-2-4-detailed-plan.md
  docs/tasks/validation-redundancy-fix-plan-4.md
  docs/troubleshooting/I18N_TROUBLESHOOTING.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: добавлена комплексная документация по модульной системе переводов
  docs/I18N_ARCHITECTURE_GUIDE.md
  docs/VALIDATION_LOCALIZATION_GUIDE.md
  docs/troubleshooting/I18N_TROUBLESHOOTING.md
Due: prettier --write

docs: добавлен детальный анализ реорганизации папки docs/
  docs/DOCS_REORGANIZATION_ANALYSIS.md
Due: prettier --write

docs: ✅ Complete markdown links validation and structure reorganization
  docs/AI_AGENT_RULES_LINKS_REPORT.md
  docs/ARCHITECTURE_BACKUP.md
  docs/DOCS_REORGANIZATION_ANALYSIS.md
  docs/README.md
  docs/STORYBOOK_GUIDELINES.md
  docs/VALIDATION_REDUNDANCY_ELIMINATION_REPORT.md
  docs/ai-agent/ai-agent-rules.yml
  docs/business/RPD.md
  docs/business/exchanger_AC.md
  docs/core/API_DOCS.md
  docs/core/ARCHITECTURE.md
  docs/core/CENTRALIZED_ESLINT_ARCHITECTURE.md
  docs/core/CODE_REVIEW_PROTOCOLS.md
  docs/core/CODE_STYLE_GUIDE.md
  docs/core/DEVELOPER_GUIDE.md
  docs/core/I18N_ARCHITECTURE_GUIDE.md
  docs/core/MOBILE_ADAPTATION_GUIDELINES.md
  docs/core/NPM_COMMANDS_GUIDE.md
  docs/core/PROJECT_STRUCTURE_MAP.md
  docs/core/ROLES_ARCHITECTURE.md
  docs/core/SECURITY_ENHANCED_VALIDATION_GUIDE.md
  docs/core/SEMANTIC_DESIGN_SYSTEM.md
  docs/core/TASK_IMPLEMENTATION_GUIDE.md
  docs/core/UNIFIED_VALIDATION_GUIDE.md
  docs/core/VALIDATION_ARCHITECTURE_GUIDE.md
  docs/core/VALIDATION_LOCALIZATION_GUIDE.md
  docs/process/EXHAUSTIVE_VERIFICATION_PROTOCOL.md
  docs/process/PRE_COMMIT_GUIDE.md
  docs/process/UNIVERSAL_AUDIT_SYSTEM.md
  docs/troubleshooting/BUNDLE_SIZE_INVESTIGATION_REPORT.md
  docs/troubleshooting/I18N_TROUBLESHOOTING.md
Due: prettier --write, echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

fix: 🔧 Line ending normalization after pre-commit hooks
  README.md
  packages/constants/README.md
  packages/design-tokens/README.md
  packages/eslint-config/README.md
  packages/exchange-core/README.md
  packages/hooks/README.md
  packages/providers/README.md
  packages/tailwind-preset/README.md
  packages/typescript-config/README.md
  packages/ui/README.md
  packages/utils/README.md
Due: prettier --write

feat: унификация навигации и добавление документации
  apps/web/app/not-found.tsx
  apps/web/src/components/app-header.tsx
  docs/tasks/order-page-REFACTORED-implementation-plan.md
  docs/tasks/order-page-acceptance-criteria.md
  docs/tasks/order-page-architecture-solution.md
  docs/tasks/order-page-impact-analysis.md
  docs/tasks/order-page-implementation-plan.md
  docs/Заявка ID 233227.html
  docs/Обмен Tether (TRC20) USDT на Банк. карта UAH.html
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: order page implementation plan analysis and fixes
  apps/web/app/[locale]/exchange/page.tsx
  apps/web/src/components/ExchangeRates.tsx
  apps/web/src/components/OrderStatus.tsx
  docs/del Заявка ID 233227.html
  docs/tasks/order-page-REFACTORED-implementation-plan.md
  docs/tasks/order-page-acceptance-criteria.md
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: restore complete AC coverage in order-page implementation plan
  docs/tasks/order-page-REFACTORED-implementation-plan.md
Due: prettier --write

refactor: clean hardcode and remove tests from order-page plan
  docs/tasks/order-page-REFACTORED-implementation-plan.md
Due: prettier --write

feat: add collapsibleTechnicalDetails solution to OrderStatus
  docs/tasks/order-page-REFACTORED-implementation-plan.md
Due: prettier --write

fix: design system violations in order-page implementation
  docs/design-system-inconsistencies.md
  docs/tasks/order-page-REFACTORED-implementation-plan.md
Due: prettier --write

feat: реализация Page Components pattern и миграция страниц на унифицированные layouts
  apps/web/app/[locale]/exchange/page.tsx
  apps/web/app/[locale]/not-found-page/page.tsx
  apps/web/app/[locale]/page.tsx
  packages/ui/src/components/centered-page-layout.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/page-layout.tsx
  packages/ui/src/components/standard-page-layout.tsx
  packages/ui/src/lib/shared-styles.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: cleanup миграция loading/error страниц + SectionLayout для секций
  apps/admin-panel/app/error.tsx
  apps/admin-panel/app/loading.tsx
  apps/admin-panel/app/not-found.tsx
  apps/web/app/[locale]/error.tsx
  apps/web/app/[locale]/loading.tsx
  apps/web/app/error.tsx
  apps/web/app/loading.tsx
  apps/web/src/components/FeaturesSection.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/section-layout.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: локализация loading страниц по требованию пользователя
  apps/admin-panel/app/loading.tsx
  apps/web/app/loading.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: implement order page with proper error handling
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/loading.tsx
  apps/web/app/[locale]/order/[orderId]/error.tsx
  apps/web/app/[locale]/order/[orderId]/page.tsx
  apps/web/app/loading.tsx
  apps/web/messages/en/advanced-exchange.json
  apps/web/messages/en/common.json
  apps/web/messages/en/order-page.json
  apps/web/messages/ru/advanced-exchange.json
  apps/web/messages/ru/common.json
  apps/web/messages/ru/order-page.json
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/components/exchange/ExchangeContainer.tsx
  apps/web/src/i18n/request.ts
  docs/design-system-inconsistencies.md
  packages/utils/src/validation/security-enhanced-utils.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: remove custom error boundary for order page
  apps/web/app/[locale]/order/[orderId]/error.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: correct order ID validation and mock data format
  packages/exchange-core/src/data/mock-data.ts
  packages/utils/src/validation/security-enhanced-utils.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: add OrderDevTools component for development testing
  apps/web/app/[locale]/order/[orderId]/page.tsx
  apps/web/src/components/OrderDevTools.tsx
  docs/analysis/order-page-development-impact-analysis.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: implement modern Development Tools architecture
  apps/web/src/components/OrderDevTools.tsx
  docs/README.md
  docs/core/ARCHITECTURE.md
  docs/core/CODE_REVIEW_PROTOCOLS.md
  docs/core/DEVELOPMENT_TOOLS_ARCHITECTURE.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: add comprehensive engineering cheat sheet with detailed technology explanations
  docs/ПРОЕКТ_ШПАРГАЛКА_ДЛЯ_ИНЖЕНЕРА.md
Due: prettier --write

feat(i18n): implement full localization for OrderStatus component
  apps/web/messages/en/order-page.json
  apps/web/messages/ru/order-page.json
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/i18n/request.ts
  packages/utils/src/order-status.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(order-page): replace Error Boundary with 404 redirect for invalid order IDs
  apps/web/app/[locale]/order/[orderId]/page.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

docs: добавлен полный анализ и план реализации функционала копирования
  docs/analysis/copy-functionality-implementation-plan.md
  docs/analysis/order-amount-address-copy-functionality-architecture.md
  docs/analysis/order-amount-address-visibility-enhancement-analysis.md
Due: prettier --write

feat: implement copy functionality for order amounts and addresses
  apps/web/src/components/OrderStatus.tsx
  packages/hooks/src/ui/index.ts
  packages/hooks/src/ui/useCopyToClipboard.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/ui/copy-button.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: integrate missing OrderStatus fields (email, blockchain network, recipient card)
  apps/web/messages/en/order-page.json
  apps/web/messages/ru/order-page.json
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/components/order-status/OrderStatusHelpers.tsx
  apps/web/src/server/trpc/routers/exchange.ts
  docs/tasks/ORDERSTATUS_FIELDS_INTEGRATION_ARCHITECTURE.md
  packages/exchange-core/src/types/order.ts
  packages/utils/src/card-utils.ts
  packages/utils/src/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(i18n): resolve client-side navigation race condition
  apps/web/src/i18n/request.ts
  docs/README.md
  docs/core/I18N_ARCHITECTURE_GUIDE.md
  docs/tasks/ORDERSTATUS_FIELDS_INTEGRATION_ARCHITECTURE.md
  docs/troubleshooting/I18N_TROUBLESHOOTING.md
  docs/ПРОЕКТ_ШПАРГАЛКА_ДЛЯ_ИНЖЕНЕРА.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat: add rule
  docs/ai-agent/ai-agent-rules.yml
Due: echo 'Skipping formatting for ai-agent-rules.yml (protected file)'

feat(ui): add copy buttons for Order ID and blockchain network
  apps/web/messages/en/order-page.json
  apps/web/messages/ru/order-page.json
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/components/order-status/OrderStatusHelpers.tsx
  docs/tasks/CODER_IMPLEMENTATION.md
  docs/tasks/order-page-REFACTORED-implementation-plan.md
  docs/tasks/order-page-acceptance-criteria.md
  docs/tasks/order-page-architecture-solution.md
  docs/tasks/order-page-impact-analysis.md
  docs/tasks/order-page-implementation-plan.md
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(ui): remove unnecessary confirmationsRequired feature
  apps/web/messages/en/order-page.json
  apps/web/messages/ru/order-page.json
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/components/order-status/OrderStatusHelpers.tsx
  apps/web/src/components/order/NetworkDisplay.tsx
  apps/web/src/components/order/index.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: improve OrderStatus UI alignment and spacing
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/components/order-status/OrderStatusHelpers.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: change crypto amount copy to numeric value only
  apps/web/src/components/order-status/OrderStatusHelpers.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(architecture): resolve VIOLATION 1.1 - migrate components from apps to packages/ui
  apps/web/app/[locale]/order/[orderId]/OrderPageClient.tsx
  apps/web/app/[locale]/order/[orderId]/page.tsx
  apps/web/src/components/order/index.ts
  docs/analysis/ORDER_PAGE_ARCHITECTURE_VIOLATIONS_ANALYSIS.md
  docs/analysis/copy-functionality-implementation-plan.md
  docs/analysis/order-amount-address-copy-functionality-architecture.md
  docs/analysis/order-amount-address-visibility-enhancement-analysis.md
  docs/analysis/order-page-development-impact-analysis.md
  docs/tasks/CODER_IMPLEMENTATION.md
  packages/ui/src/components/dev/OrderDevTools.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/order/NetworkDisplay.tsx
  packages/ui/src/components/order/OrderStatus.tsx
  packages/ui/src/components/order/helpers/OrderStatusHelpers.tsx
  packages/ui/tsconfig.json
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(architecture): implement SRP for OrderStatus hooks
  docs/analysis/ORDER_PAGE_ARCHITECTURE_VIOLATIONS_ANALYSIS.md
  packages/hooks/src/business/useOrderData.ts
  packages/hooks/src/client-hooks.ts
  packages/hooks/src/index.ts
  packages/hooks/src/ui/index.ts
  packages/hooks/src/ui/useOrderStatusConfig.ts
  packages/ui/src/components/order/OrderStatus.tsx
  packages/ui/src/components/order/helpers/OrderStatusHelpers.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: eliminate STATUS_ICONS duplication in OrderStatus component
  docs/analysis/ORDER_PAGE_ARCHITECTURE_VIOLATIONS_ANALYSIS.md
  packages/ui/src/components/order/OrderStatus.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/icon-mapper.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix(ui): устранение дублирования MONO_FONT_CLASS через централизованные дизайн-токены
  docs/analysis/ORDER_PAGE_ARCHITECTURE_VIOLATIONS_ANALYSIS.md
  packages/ui/src/components/order/OrderStatus.tsx
  packages/ui/src/components/order/helpers/OrderStatusHelpers.tsx
  packages/ui/src/lib/shared-styles.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: устранить дублирование цветовой логики в OrderStatus
  docs/analysis/ORDER_PAGE_ARCHITECTURE_VIOLATIONS_ANALYSIS.md
  packages/ui/src/components/order/OrderStatus.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

refactor(ui): оптимизация OrderStatusHelpers - устранение дублирования кода
  packages/ui/src/components/index.ts
  packages/ui/src/components/order/helpers/OrderStatusHelpers.tsx
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

Path conditions:
  eslint --fix --max-warnings 0 --no-warn-ignored: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,scss}
  echo 'Skipping formatting for ai-agent-rules.yml (protected file)': any of: docs/ai-agent/ai-agent-rules.yml
  echo 'Skipping formatting for tech_debt_rules.yaml (protected file)': any of: docs/ai-agent/tech_debt_rules.yaml
