Repository Spudymun/exchanger-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix, npm run type-check --prefix packages/constants

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "packages/constants/src/**/*.{ts,tsx}": ["npm run type-check --prefix packages/constants"]
}

chore: remove obsolete old-trpc.ts file
  apps/web/server/old-trpc.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(api): implement TASK 2.5 operator/support/shared tRPC routers
  apps/web/src/server/trpc/routers/operator.ts
  apps/web/src/server/trpc/routers/shared.ts
  apps/web/src/server/trpc/routers/support.ts
  docs/PROJECT_CONTEXT_MAP.yml
  packages/constants/src/ui.ts
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

docs: update TASK 2.5 status to completed in checklist
  docs/tasks/TASKS-PART-2-CHECKLIST.md
Due: prettier --write

fix: replace unsafe regex patterns with secure validators
  apps/web/src/server/trpc/middleware/rateLimit.ts
  apps/web/src/server/trpc/routers/auth.ts
  apps/web/src/server/trpc/routers/exchange.ts
  packages/constants/src/exchange.ts
  packages/constants/src/index.ts
  packages/constants/src/rate-limits.ts
  packages/constants/src/ui.ts
  packages/constants/src/validation.ts
  packages/ui/src/components/data-table.tsx
  packages/ui/src/components/tree-view.tsx
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

feat: implement tRPC client-side hooks and components
  apps/web/src/components/AuthProvider.tsx
  apps/web/src/components/ExchangeRates.tsx
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/hooks/useAuthMutation.ts
  apps/web/src/hooks/useExchangeMutation.ts
  docs/AUDIT_COMPLETION.md
  docs/CLEANUP_REPORT.md
  docs/ENTERPRISE_LINTING.md
  docs/ENTERPRISE_ROADMAP.md
  docs/I18N_STATUS.md
  docs/ai-agent-rules.yml
  packages/constants/src/ui.ts
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

feat: complete tRPC client integration (TASK 2.6)
  apps/web/app/[locale]/trpc-demo/page.tsx
  apps/web/lib/trpc-provider.tsx
  apps/web/package.json
Due: eslint --fix --max-warnings 0, prettier --write

chore: finalize tRPC integration with DevTools and update checklist
  docs/tasks/TASKS-PART-2-CHECKLIST.md
  package-lock.json
  turbo.json
Due: prettier --write

docs: update TASKS-PART-3 with Zustand architecture and create checklist
  docs/tasks/TASKS-PART-3-CHECKLIST.md
  docs/tasks/TASKS-PART-3.md
Due: prettier --write

feat: implement enhanced Zustand stores and hooks
  apps/web/lib/stores.ts
  packages/hooks/src/index.ts
  packages/hooks/src/state/exchange-constants.ts
  packages/hooks/src/state/exchange-helpers.ts
  packages/hooks/src/state/exchange-selectors.ts
  packages/hooks/src/state/exchange-store.ts
  packages/hooks/src/state/index.ts
  packages/hooks/src/state/notification-store.ts
  packages/hooks/src/useExchangeStore.ts
  packages/hooks/src/useNotifications.ts
  packages/hooks/src/useUIStore.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: complete TASK 3.1 - Enhanced Zustand Stores and Integration
  docs/tasks/TASKS-PART-3-CHECKLIST.md
Due: prettier --write

feat: implement TASK 3.2 - business hooks with Zustand integration
  apps/web/lib/trpc.ts
  apps/web/src/components/AuthProvider.tsx
  packages/hooks/src/business/useAuth.ts
  packages/hooks/src/business/useExchange.ts
  packages/hooks/src/business/useForm.example.ts
  packages/hooks/src/business/useForm.md
  packages/hooks/src/business/useForm.ts
  packages/hooks/src/business/useOrderTracking.ts
  packages/hooks/src/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: update TASKS-PART-3-CHECKLIST.md - mark TASK 3.2 as completed
  docs/tasks/TASKS-PART-3-CHECKLIST.md
Due: prettier --write

docs: обновить PROJECT_CONTEXT_MAP.yml с полным покрытием проекта
  docs/PROJECT_CONTEXT_MAP.yml
Due: none

docs: добавить детальные протоколы проверок кода по архитектурным уровням
  docs/CODE_REVIEW_PROTOCOLS.md
Due: prettier --write

docs: дополнить протоколы проверок межуровневыми зависимостями и DRY принципом
  docs/CODE_REVIEW_PROTOCOLS.md
Due: prettier --write

docs: integrate advanced practices into code review protocols
  docs/CODE_REVIEW_PROTOCOLS.md
Due: prettier --write

refactor(constants): Level 1 refactoring - optimize constants structure
  packages/constants/src/exchange-currencies.ts
  packages/constants/src/exchange.ts
  packages/constants/src/index.ts
  packages/constants/src/rate-limits.ts
  packages/constants/src/ui.ts
  packages/constants/src/validation.ts
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

feat: добавлена универсальная система аудита архитектурных уровней
  docs/UNIVERSAL_AUDIT_SYSTEM.md
Due: prettier --write

docs: актуализация всей документации с новой централизованной архитектурой ESLint
  docs/ARCHITECTURE.md
  docs/CENTRALIZED_ESLINT_ARCHITECTURE.md
  docs/CODE_REVIEW_PROTOCOLS.md
  docs/CODE_STYLE_GUIDE.md
  docs/DEVELOPER_GUIDE.md
  docs/LINTER_CRITICAL_REVIEW.md
  docs/PRE_COMMIT_GUIDE.md
  docs/PROPER_LINTER_ARCHITECTURE.md
  docs/README.md
  docs/TASK_IMPLEMENTATION_GUIDE.md
  eslint.config.mjs
  package-lock.json
  package.json
  packages/eslint-config/api.js
  packages/eslint-config/configs.js
  packages/eslint-config/ignores.js
  packages/eslint-config/lazy-loading.js
  packages/eslint-config/performance-benchmark.js
  packages/eslint-config/react.js
  packages/eslint-config/shared-rules.js
  packages/eslint-config/testing.js
  packages/eslint-config/utils.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: complete linter architecture refactor and TypeScript error fixes
  .lintstagedrc.json
  apps/admin-panel/app/page.tsx
  apps/admin-panel/tsconfig.json
  apps/docs/tsconfig.json
  apps/web/app/(dashboard)/page.tsx
  apps/web/src/server/trpc/middleware/rateLimit.ts
  apps/web/tsconfig.json
  docs/SECURITY_WARNINGS_GUIDE.md
  eslint.config.mjs
  packages/constants/src/currency-formats.ts
  packages/constants/src/decimal-precision.ts
  packages/constants/src/exchange.ts
  packages/constants/src/index.ts
  packages/constants/src/linter-limits.ts
  packages/constants/src/percentage-calculations.ts
  packages/constants/src/time-constants.ts
  packages/constants/src/ui.ts
  packages/constants/src/validation-bounds.ts
  packages/constants/src/validation.ts
  packages/eslint-config/ignores.js
  packages/exchange-core/src/data/manager.ts
  packages/exchange-core/src/data/mock-data.ts
  packages/exchange-core/src/utils/calculations.ts
  packages/exchange-core/src/utils/crypto.ts
  packages/exchange-core/src/utils/validation.ts
  packages/hooks/src/useExchangeStore.ts
  packages/hooks/src/useNotificationHelpers.ts
  packages/hooks/src/useNotificationUtils.ts
  packages/hooks/src/useNotifications-optimized.ts
  packages/hooks/src/useUIStore.ts
  packages/ui/src/components/TreeNodeItem.tsx
  packages/ui/src/components/data-table.tsx
  packages/ui/src/components/data-table/DataTableBody.tsx
  packages/ui/src/components/data-table/DataTableFilters.tsx
  packages/ui/src/components/data-table/DataTableHeader.tsx
  packages/ui/src/components/data-table/DataTablePagination.tsx
  packages/ui/src/components/tree-view.tsx
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

docs: add complete package import examples to ARCHITECTURE.md
  docs/ARCHITECTURE.md
  docs/ai-agent-rules.yml
Due: prettier --write

fix: исправлены все TypeScript ошибки в Storybook и тестах
  packages/ui/src/__tests__/DataTable.test.tsx
  packages/ui/src/stories/DataTable.stories.tsx
  packages/ui/src/stories/TreeView.stories.tsx
Due: eslint --fix --max-warnings 0, prettier --write

feat: доработано правило 2 и документация по ревью кода
  docs/CODE_REVIEW_PROTOCOLS.md
  docs/UNIVERSAL_AUDIT_SYSTEM.md
  docs/ai-agent-rules.yml
Due: prettier --write

feat: Complete npm scripts audit, documentation system and AI agent rules
  .lintstagedrc.json
  .prettierignore
  docs/ARCHITECTURE.md
  docs/NPM_COMMANDS_GUIDE.md
  docs/ai-agent-rules.yml
  package.json
  packages/constants/package.json
  turbo.json
Due: prettier --write

feat(types): centralize contact and payment types
  docs/tasks/TASKS-PART-5.3.md
  packages/exchange-core/src/types/contact.ts
  packages/exchange-core/src/types/index.ts
  packages/exchange-core/src/types/order.ts
  packages/exchange-core/src/utils/validation.ts
  packages/hooks/src/state/exchange-store.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(architecture): complete L2 utils layer refactoring with centralization and DRY elimination
  packages/constants/src/index.ts
  packages/constants/src/regex-patterns.ts
  packages/exchange-core/src/services/crypto-address-generation.ts
  packages/exchange-core/src/services/id-generation.ts
  packages/exchange-core/src/services/index.ts
  packages/exchange-core/src/utils/basic-validators.ts
  packages/exchange-core/src/utils/business-validators.ts
  packages/exchange-core/src/utils/calculations.ts
  packages/exchange-core/src/utils/composite-validators.ts
  packages/exchange-core/src/utils/crypto.ts
  packages/exchange-core/src/utils/data-sanitizers.ts
  packages/exchange-core/src/utils/order-validators.ts
  packages/exchange-core/src/utils/validation.ts
  packages/utils/src/calculations.ts
  packages/utils/src/formatting.ts
  packages/utils/src/index.ts
  packages/utils/src/validation-helpers.ts
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

refactor: complete removal of all deprecated annotations and legacy wrappers
  apps/web/lib/stores.ts
  apps/web/src/server/trpc/routers/auth.ts
  docs/ai-agent-rules.yml
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/exchange-core/src/data/manager.ts
  packages/exchange-core/src/index.ts
  packages/exchange-core/src/utils/calculations.ts
  packages/exchange-core/src/utils/crypto.ts
  packages/exchange-core/src/utils/validation.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(api): архитектурный рефакторинг уровня 3 (API слой, tRPC)
  apps/web/src/server/trpc/init.ts
  apps/web/src/server/trpc/middleware/auth.ts
  apps/web/src/server/trpc/middleware/rateLimit.ts
  apps/web/src/server/trpc/routers/auth.ts
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/user/helpers.ts
  apps/web/src/server/trpc/routers/user/index.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  apps/web/src/server/trpc/routers/user/profile.ts
  apps/web/src/server/trpc/routers/user/security.ts
  packages/exchange-core/src/index.ts
  packages/exchange-core/src/utils/access-validators.ts
  packages/exchange-core/src/utils/type-guards.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs(rules): добавлена иерархия приоритетов правил в начало файла
  docs/ai-agent-rules.yml
Due: none

feat(hooks): comprehensive level-4 architectural refactoring
  packages/hooks/src/business/useAuth.ts
  packages/hooks/src/business/useExchange.ts
  packages/hooks/src/business/useOrderTracking.ts
  packages/hooks/src/state/exchange-store.ts
  packages/hooks/src/state/notification-store.ts
  packages/hooks/src/state/ui-store.ts
  packages/hooks/src/useNotificationHelpers.ts
  packages/hooks/src/useNotificationUtils.ts
  packages/hooks/src/useNotifications-optimized.ts
  packages/hooks/src/useNotifications.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(constants): eliminate 100% redundancy from Level 1
  .lintstagedrc.json
  apps/web/src/server/trpc/routers/auth.ts
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/operator.ts
  apps/web/src/server/trpc/routers/shared.ts
  apps/web/src/server/trpc/routers/support.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  apps/web/src/server/trpc/routers/user/profile.ts
  apps/web/src/server/trpc/routers/user/security.ts
  docs/CONSTANTS_EXAMPLES.ts
  packages/constants/src/business.ts
  packages/constants/src/exchange.ts
  packages/constants/src/index.ts
  packages/constants/src/regex-patterns.ts
  packages/constants/src/ui.ts
  packages/constants/src/user.ts
  packages/constants/src/validation.ts
  packages/exchange-core/src/data/manager.ts
  packages/exchange-core/src/types/order.ts
  packages/exchange-core/src/utils/crypto.ts
  packages/hooks/src/business/useExchange.ts
  packages/hooks/src/business/useOrderTracking.ts
  packages/hooks/src/state/exchange-helpers.ts
  packages/hooks/src/state/exchange-store.ts
  packages/hooks/src/state/ui-store.ts
  packages/hooks/src/useExchangeStore.ts
  packages/hooks/src/useUIStore.ts
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

refactor: unify mock user data and types in admin-panel
  apps/admin-panel/app/page.tsx
  packages/api-client/src/server.ts
  packages/api-client/src/types.ts
  packages/exchange-core/src/data/index.ts
  packages/exchange-core/src/data/mock-data.ts
  packages/exchange-core/src/data/mock-factory.ts
  packages/exchange-core/src/index.ts
  packages/exchange-core/src/services/id-generation.ts
  packages/exchange-core/src/types/index.ts
  packages/exchange-core/src/types/transaction.ts
  packages/exchange-core/src/types/user.ts
  packages/exchange-core/src/utils/basic-validators.ts
  packages/exchange-core/src/utils/calculations.ts
  packages/exchange-core/src/utils/validation.ts
  packages/ui/src/__tests__/DataTable.test.tsx
  packages/ui/src/stories/DataTable.stories.tsx
  packages/utils/src/formatting.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: Complete Level 3 API layer redundancy audit and elimination
  apps/web/src/server/trpc/routers/auth.ts
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/operator.ts
  apps/web/src/server/trpc/routers/shared.ts
  apps/web/src/server/trpc/routers/support.ts
  apps/web/src/server/trpc/routers/user/orders.ts
  apps/web/src/server/trpc/routers/user/profile.ts
  apps/web/src/server/trpc/routers/user/security.ts
  packages/utils/src/index.ts
  packages/utils/src/order-status.ts
  packages/utils/src/order-utils.ts
  packages/utils/src/trpc-errors.ts
  packages/utils/src/validation-schemas.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: complete Level 1 centralization audit (Rule 17 & 20 compliance)
  apps/web/app/[locale]/layout.tsx
  apps/web/i18n.ts
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/server/trpc/routers/exchange.ts
  apps/web/src/server/trpc/routers/operator.ts
  apps/web/src/server/trpc/routers/shared.ts
  apps/web/src/server/trpc/routers/support.ts
  docs/CONSTANTS_EXAMPLES.ts
  packages/api-client/src/server.ts
  packages/constants/src/business-limits.ts
  packages/constants/src/business.ts
  packages/constants/src/exchange.ts
  packages/constants/src/index.ts
  packages/constants/src/order-statuses.ts
  packages/constants/src/time-constants.ts
  packages/constants/src/ui.ts
  packages/constants/src/validation-bounds.ts
  packages/constants/src/validation.ts
  packages/exchange-core/src/types/transaction.ts
  packages/hooks/src/business/useAuth.ts
  packages/hooks/src/business/useForm.ts
  packages/hooks/src/business/useOrderTracking.ts
  packages/hooks/src/state/notification-store.ts
  packages/hooks/src/state/trading-store.ts
  packages/utils/src/order-status.ts
  packages/utils/src/order-utils.ts
  packages/utils/src/validation-schemas.ts
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

refactor: Level 2 audit - eliminate redundancy in order status logic
  packages/constants/src/order-statuses.ts
  packages/utils/src/order-status.ts
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

feat: complete level 3 audit - centralize API layer, remove api-client, finalize error handling
  apps/web/src/server/trpc/middleware/auth.ts
  apps/web/src/server/trpc/middleware/rateLimit.ts
  apps/web/src/server/trpc/routers/auth.ts
  apps/web/src/server/trpc/routers/support.ts
  apps/web/src/server/trpc/routers/user/security.ts
  docs/ARCHITECTURE.md
  docs/CENTRALIZED_ESLINT_ARCHITECTURE.md
  docs/CLAUDE.md
  docs/CODE_STYLE_GUIDE.md
  docs/DEVELOPER_GUIDE.md
  docs/EXPLANATION.md
  docs/PROJECT_CONTEXT_MAP.yml
  docs/RPD.md
  docs/TASK_IMPLEMENTATION_GUIDE.md
  docs/tasks/TASKS-PART-6.md
  docs/tasks/TASKS-PART-7.md
  package-lock.json
  packages/api-client/package.json
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/server-only.ts
  packages/api-client/src/server.ts
  packages/api-client/src/types.ts
  packages/api-client/tsconfig.json
  packages/exchange-core/src/utils/access-validators.ts
  packages/providers/package.json
  packages/utils/src/trpc-errors.ts
  scripts/cleanup-unused.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ui): level-5 architectural audit - eliminate redundancy and centralize patterns
  apps/web/app/(dashboard)/layout.tsx
  apps/web/app/[locale]/dashboard/page.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/src/components/ExchangeRates.tsx
  apps/web/src/components/OrderStatus.tsx
  packages/constants/src/time-constants.ts
  packages/hooks/src/business/useExchange.ts
  packages/hooks/src/state/exchange-constants.ts
  packages/hooks/src/state/exchange-helpers.ts
  packages/hooks/src/state/exchange-store.ts
  packages/hooks/src/state/notification-store.ts
  packages/hooks/src/state/trading-store.ts
  packages/hooks/src/state/ui-store.ts
  packages/ui/src/components/data-table.tsx
  packages/ui/src/components/data-table/DataTableFilters.tsx
  packages/ui/src/components/ui/input.tsx
  packages/ui/src/components/ui/label.tsx
  packages/ui/src/components/ui/textarea.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/shared-styles.ts
  packages/utils/src/index.ts
  packages/utils/src/store-factory.ts
Due: eslint --fix --max-warnings 0, prettier --write, npm run type-check --prefix packages/constants

fix(architecture): eliminate direct tRPC usage in UI/business components
  apps/web/src/components/AuthProvider.tsx
  apps/web/src/components/ExchangeRates.tsx
  apps/web/src/components/OrderStatus.tsx
  apps/web/src/hooks/useAuthMutation.ts
  apps/web/src/hooks/useExchangeMutation.ts
Due: eslint --fix --max-warnings 0, prettier --write

docs: remove size criteria from CODE_REVIEW_PROTOCOLS.md
  docs/CODE_REVIEW_PROTOCOLS.md
Due: prettier --write
